[2017-02-24 12:00] canitzp commented on #185
okay thx, I'll take a look into this, but is isn't a gamebreaking problem, so it may take some time

[2017-02-24 12:05] Terpo commented on #185
Could be the form how the description.txt is being saved. When I edit the description whe missing letters are displayable. After world reload the letters are missing. Maybe the coding for the .txt is ASCII or ANSI.

[2017-02-24 15:22] Terpo opened #279 "[1.11.2-5.1.0alpha2] IndexOutOfBoundsException"
http://pastebin.com/Mt4S93zM

Seems a problem with a detection task or something. I tried to pickup sheared grass but none of my quests needs grass.

[2017-02-24 18:02] canitzp commented on #279
already fixed #272 but no release

[2017-02-24 18:02] #279 closed, assigned to nobody

[2017-02-25 01:26] Shahhubminecraft opened #280 "Quest not showing on a server"
The quest book works fine in single player but when it is put on a server the quests don't show up at all.

I am using the latest version of hqm from today 25/02/2017

[2017-02-25 08:44] canitzp commented on #280
which hqm and minecraft version?

[2017-02-25 10:41] Shahhubminecraft commented on #280
Hqm version 5.00beta4 on Minecraft 1.10.2

[2017-02-25 10:42] canitzp commented on #280
This is a know bug in 1.10.2 and was fixed in 1.11.2. You have to wait for the backport of the 1.11.2 version.

[2017-02-25 10:42] #280 closed, assigned to nobody

[2017-02-25 14:16] Shahhubminecraft commented on #280
When will that version be available

[2017-02-25 15:14] canitzp commented on #280
@LordDusk

[2017-02-25 17:14] lorddusk commented on #280
When I have time...

[2017-02-28 00:52] Pokemonpurson opened #281 "Invalid book"
I am having an issue where, after I successfully created and am running a private server, I spawn in with a quest book, but there are no quests! I know this has been happening, but when I right click the book on a block, it disappears! I can only open it in Single player, it won't open in multiplayer! When I go into creative on the server, it says "there is no such item with id 27332" in one of th

[2017-02-28 10:34] fa1ntl1ght opened #282 "[BUG] [1.7.10] Quests and Reward Bag tiers which ends on unicode symbol corrupts after reload."
Very interesting bug, it seems like it is because quests saved in wrong encoding. Really need solution, because i making a modpack on russian language.

Any quest name that contains a unicode symbol on its end becomes corrupted:

ТЕСТ ТЕСТ ТЕСТ ТЕСТ ТЕСТ ТЕСТ

will be merged into something like this:

ТЕСТ ТЕСТ ТЕСТ Т⍰

What i can do? Java version is 8 latest (reinstalled 2 hours ago)
This bug occ

[2017-02-28 13:16] Raffy43 opened #283 "1.11.2 crash when pick up the items of the quest"
the crash report:

[crash-2017-02-28_14.06.36-server.txt](https://github.com/lorddusk/HQM/files/806856/crash-2017-02-28_14.06.36-server.txt)

[2017-02-28 16:05] British89 commented on #283
I am also having this problem, When ever i create a quest then try and pick up an item my server crashes, I also have the same crash while on singleplayer

crash report

[crash-2017-02-28_12.06.18-server.txt](https://github.com/lorddusk/HQM/files/807394/crash-2017-02-28_12.06.18-server.txt)

[2017-03-01 05:53] canitzp commented on #281
Wich minecraft/forge version? Any log files? Since 1.8 you cannot give a item with a integer id, they are now text ids.

[2017-03-01 05:55] canitzp commented on #282
This is a hqm bug, but 1.7 is no longer supported, so sorry about that. You can't do anything, except avoiding such symbols

[2017-03-01 05:55] #282 closed, assigned to nobody

[2017-03-01 05:58] canitzp commented on #283
This is a already fixed bug, but there is no released version with the fix

[2017-03-01 05:58] #283 closed, assigned to nobody

[2017-03-01 06:01] canitzp commented on #277
The quest book is to long or there is to much hqm data that has to be synced with the client. Poorly for you, 1.7 is no longer supported. sry

[2017-03-01 06:01] #277 closed, assigned to canitzp

[2017-03-01 13:40] lightning02 commented on #277
isn't there something I can do myself to 'fix' this? (except to make the questbook lighter)
also, is possible that this lead to world corruption? just asking

[2017-03-01 21:44] Pokemonpurson commented on #281
I believe I am using Minecraft 1.6.4, and Forge 9.11.1345. The server is running, but I can't use the quests. I just tried to load Single Player, and it said that id 745 and 746 are missing. I have not changed any item ids that I know of. What log file do you want and where could I find it, and what is the difference between an integer id and a text id? I can give myself other items though... Sorr

[2017-03-01 21:48] canitzp commented on #281
If you're new to this, why the hell are you using 1.6.4? I don't know how this old version works, so I can't help. I also don't think that @lorddusk does remember, it's now 2,5 years old

[2017-03-01 21:54] Pokemonpurson commented on #281
It's for a modpack... Magic Island HQM (different name on Curse) sorry if I'm bothering you... Should I go?

[2017-03-01 21:55] canitzp commented on #281
You can wait for a answer of @lorddusk, I can't help.

[2017-03-01 21:56] Pokemonpurson commented on #281
Ok... Sorry. Do you know how soon they can help? I won't rush them, I'm just curious...

[2017-03-01 21:58] lorddusk commented on #281
This is a LOOOOOOOONG time ago, I suggest you move to a newer version,
because if we don't support 1.7 anymore, we sure won't support 1.6 anymore.

On a different note, I have no idea. that code is way out of my system, and
I don't think I even have it anymore...

[2017-03-01 21:59] Pokemonpurson commented on #281
How would I update? Sorry, I'm really stupid...

[2017-03-01 22:00] lorddusk commented on #281
If you use Curse pick another pack mate ;)

[2017-03-01 22:00] #281 closed, assigned to nobody

[2017-03-02 08:23] BluSunrize opened #284 "HQM-5.0.0beta4 & Immersive Engineering; Fluid NPE"
Heya Dusk and team!

I hope I didn't miss this issue in my search, but I had yet to see it reported.
Basically, this part of code:
https://github.com/lorddusk/HQM/blob/42109aa090d7c917d834e96f130b4b4a214d7fdc/src/main/java/hardcorequesting/client/interfaces/edit/GuiEditMenuItem.java#L502
passes null to the Fluid.getLocalizedName(FluidStack) method. There is a method of the same name that omits the

[2017-03-02 10:09] canitzp commented on #253
Can you test this with the 1.11.2 version pls

[2017-03-02 14:45] way2muchnoise commented on #253
Pretty sure this won't happen in the new save system. As it isn't saved as a byte any more.

[2017-03-02 17:43] #253 closed, assigned to nobody

[2017-03-02 22:40] superdave4054 commented on #203
Has there been a resolution to this issue? Im currently having the same issue. All the sets, and their respective quests, are not showing up on server quest books even though the config shows they are there.

[2017-03-03 03:17] canitzp commented on #203
which mc version

[2017-03-03 03:21] superdave4054 commented on #203
Sorry, assumed the post was in regard to 1.10.2, the one my server is
using.

On Mar 2, 2017 9:17 PM, "canitzp" <notifications@github.com> wrote:

which mc version

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/lorddusk/HQM/issues/203#issuecomment-283854100>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/

[2017-03-04 17:25] MokahTGS opened #285 "[1.10.2] [Request] Update the 1.10.2 version with the Multiplayer Fixes from 1.11"
Please update the 1.10.2 version of the mod with the multiplayer fixes you added to the 1.11 version.  Most players and the mod community are working on 1.10.2 and since this mod is geared for mod packs it makes sense to fully support the most popular version.

[2017-03-04 17:36] canitzp commented on #285
This is already planned and LordDusk started it.

[2017-03-04 17:36] #285 closed, assigned to nobody

[2017-03-04 17:45] canitzp commented on #285
@MokahTGS one question I have now, do you have checked if it works in 1.11.2? For me it worked, but I don't know if it works for other peoples too

[2017-03-06 10:19] madkort commented on #185
How is it going guys? Any news about Russian language? Russian servers are waiting for your awesome mod!

[2017-03-06 19:44] MokahTGS commented on #274
Would I be able to test out the 1.10.2 version?  I'd like to do what I can to get that version officially updated.

[2017-03-09 00:34] MokahTGS opened #286 "1.10.2 Crash Clicking in book."
http://pastebin.com/zyNvGYJj

[2017-03-09 04:04] canitzp commented on #286
This has been fixed in 1.11.2. You have to wait for @LordDusk s backport

[2017-03-14 12:32] Terpo opened #287 "[1.11.2] Crash while saving"
HQM-New Heights-1.11.2-5.1.0alpha2

https://gist.github.com/Terpo/b27be993a3564b0e85bccf76c6e86a49

I changed an icon of a crafting task. Then, without explicit saving I moved to the next task but I wanted to change it from crafting to detecting task. While I was trying to click on detecting the game crashed. I tried to reproduce it but wasn't able to do it^^.

After trying to reproduce I also saw

[2017-03-14 14:39] addrever commented on #250
This still isn't fixed in 1.10.2.  Unless I am missing something.

[hqmconfig.txt](https://github.com/lorddusk/HQM/files/841651/hqmconfig.txt)
[editmode.txt](https://github.com/lorddusk/HQM/files/841652/editmode.txt)

[2017-03-14 19:56] canitzp commented on #250
Lord Dusk backports the 1.11.2 version, where I fixed it, to 1.10.2, be patient

[2017-03-14 20:03] addrever commented on #250
No worries.  Thank you!  I just wasn't sure if I was derping.  I realize now the response was kind of cold so I apologize.

[2017-03-14 22:35] Malus-Lupo commented on #284
I think this crash is related. Just thought I would post it and ask if there is a work around?

[crash-2017-03-14_18.12.37-client.txt](https://github.com/lorddusk/HQM/files/842935/crash-2017-03-14_18.12.37-client.txt)

[2017-03-15 08:06] BluSunrize commented on #284
Yeah that's basically the result of the issue. Null passed to a method where some users might not expect a null.

[2017-03-22 14:26] spr3n1x opened #288 "[1.10.2] adding a reputation reward Crashing client"
I am trying to build a modpack that uses the reputation feature as a "currency" but when i try and add a reward for the reputation but when i click add new, It crashes and breaks the respective world that I am in.
Here is the crash log if needed
[http://pastebin.com/HLaSek2h](http://pastebin.com/HLaSek2h)

[2017-03-22 20:49] way2muchnoise commented on #274
@MokahTGS I've been working with @Darkosto the past few days and a public alpha should be out soon

[2017-03-22 20:49] #274 closed, assigned to nobody

[2017-03-23 19:18] Thenosis opened #289 "Unable to add Chapter Titles with punctuation"
Copied from my post on the project page's comments.

 I don't really think this is a bug, I just think it needs to be said. Don't try to save ANY sets with punctuation in 1.10. I'm not sure about other versions but when trying to save Sets of quests, if you have any punctuation in the set title it won't save it, due to it being saved as a JSON file. Since files like that can't have punctuation it

[2017-03-23 19:35] Thenosis opened #290 "[1.10] Exception in server tick loop"
Here is a copy of the crash log through Pastebin. It didn't cause any loading errors. I think it just caused an infinite loop somehow.

http://pastebin.com/y3uvCyqq

If this is not related to HQM please let me know which mod it is related too. You'll notice in lines 28-53(when using notepadd++) that it mentions HQM and that was the only mod that I could tell was mentioned. Hope this helps kill ano

[2017-03-24 10:53] way2muchnoise commented on #290
Could you try [HQM-New Heights-1.10.2-5.1.0alpha2](https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2396680), which got released this morning and should fix quite some issues.

[2017-03-24 10:54] way2muchnoise commented on #288
Could you try [HQM-New Heights-1.10.2-5.1.0alpha2](https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2396680), which got released this morning and should fix quite some issues.

[2017-03-24 10:54] way2muchnoise commented on #286
Could you try [HQM-New Heights-1.10.2-5.1.0alpha2](https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2396680), which got released this morning and should fix quite some issues.

[2017-03-24 10:56] #271 closed, assigned to lorddusk

[2017-03-24 10:57] way2muchnoise commented on #271
Should be fixed as of 5.1.0alpha2

[2017-03-24 10:58] way2muchnoise commented on #228
Could you try [HQM-New Heights-1.10.2-5.1.0alpha2](https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2396680), which got released this morning and should fix quite some issues.

I'm fairly sure it will fix your issue so I'll close this issue. Feel free to reopen if it still doesn't work.

[2017-03-24 10:58] #228 closed, assigned to nobody

[2017-03-24 10:58] way2muchnoise commented on #203
Could you try [HQM-New Heights-1.10.2-5.1.0alpha2](https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2396680), which got released this morning and should fix quite some issues.

[2017-03-24 11:00] way2muchnoise commented on #203
Also you might want to remove your hqmedit.cfg cause I changed some defaults as full server sync doesn't really work atm. (It needs some fragmenting, cause sending over all quests is a bit much for MC/Forge packet system)

[2017-03-24 11:02] way2muchnoise commented on #289
Could you give and example of what punctuation you used? Makes it easier for me to test.

[2017-03-26 00:08] Thenosis commented on #289
Sure. Two of my set titles were

 Blood for the Blood God!!!
WOOT!!!!!

Just like that. And it would not save the set. Every time I would check the folder or exit the game. I also had one with a ? But that title changed so I don't remember what the full set title was.

[2017-03-26 00:13] Thenosis commented on #290
Okay. I have updated to 5.1.0alpha2. If I run into this again I will post the crash log as well as the version info like I did for this time. Personally, I'll consider the matter closed as I have not been able to replicate the error since updating to 5.1.0

[2017-03-26 00:13] #290 closed, assigned to nobody

[2017-03-26 09:26] way2muchnoise commented on #289
I'm pretty sure ! since Invasion (darkosto's pack) uses that. But I can see the question mark or a slash being an issue.

[2017-03-26 20:39] Thenosis commented on #289
I'll do some more testing with the ! and make a video if I run into anymore problems. I'll let you decide for when this issue is closed.

[2017-03-27 00:20] Greyshaun33 opened #291 "Cannot export to server."
I've been trying to get my Questing files over to my server but every time I put them on there launch the server it is empty. I keep reading about a questing file but cannot work out how to create it. I've used /hqm save looked at all the configs and cannot see anything in my configs or folders relating to a questing file.

[2017-03-27 09:38] way2muchnoise commented on #291
What version are you using?

[2017-03-28 18:29] ThomasAunvik opened #292 "Dropping HQM book and picking it back up causes crash"
Sometimes while editing in the HQM book, and when i drop it and right before picking it up it crashes the client.

[Crash](https://gist.github.com/ThomasAunvik/94cf725a9bac9c5fd1154c677ca32df0)

HQM: 5.1.0alpha2

[2017-03-28 18:31] ThomasAunvik opened #293 "HQM Book Rendering is weird"
![img](http://i.imgur.com/Jp6Y1hz.png)
![img2](http://i.imgur.com/c9tMo5M.png)
HQM: 2-5.1.0alpha2

[2017-03-28 21:20] ThomasAunvik opened #294 "[Request] Quest with required power"
Just with QDS, and instead of items or fluids, would it be nice to have power too? A quest where you need a specified amount of RF/EU/Testla/Forge Energy etc.

Hope this suggestion will be accepted 👍

[2017-03-28 21:27] ThomasAunvik commented on #252
Would be nice to leave a custom command, for servers. Player Command or Server Command. like `/island remove`. or `/island remove @p`

[2017-03-28 21:48] ThomasAunvik commented on #276
I might be wrong, but i think the solution to the problem is to delete the HQM configs.
Meaning it needs to regenerate its config to default.

[2017-03-29 04:32] ryvn opened #295 "[1.10.2] Crash on death when running out of lives"
I was under the impression that this was a known bug, but I couldn't find an issue about it. If my search fu was weak, feel free to close this.

In version HQM-New Heights-1.10.2-5.1.0alpha2, running out of lives reliably causes a crash, at least in local singleplayer. I encountered this bug in the Invasion modpack, and on their git they indicated this was an HQM bug. I came here to track the issu

[2017-03-29 09:39] redgoblin88 opened #296 "HQM 5-0-0 beta "saving" crash"
yesterday i was doing some work on my pack through the HQM as most/all recipes are going to be changed and this mod is going to help guide players through, however upon loading the same world that i left yesterday i was faced with this crash report.

in the pack i am using minetweaker, crafttweaker and modtweaker which are used to change recipes. one quest is affected as it uses a modified tinkers

[2017-03-29 09:48] redgoblin88 commented on #296
update: i have contacted mcjty a si have noticed he has contributed but he pointed out that i was not on the latest version, apparently the curse client showed that 5.0.0beta2 was the very latest however curseforge says otherwise as there was an update just five days ago

[2017-03-29 09:57] #296 closed, assigned to nobody

[2017-03-29 11:49] way2muchnoise commented on #296
Yeah, the latest might be tagged as alpha and you can not always see that on the Curse client (it is a setting to see alpha iirc)

[2017-03-29 11:51] way2muchnoise commented on #295
Likely a bug with HQM trying to delete the world or something like that, since you ran out of lives anyway. I should turn that off.

[2017-03-29 14:48] ThomasAunvik opened #297 "[1.11.2] Crash while selecting Bag Group in the HQM Book"
[Crash Log](https://pastebin.com/Cc5pwivY)
[Full Client Log](https://gist.github.com/ThomasAunvik/4bd3afab5f4190d67c2cce3d96d8b582)
HQM; 5.1.0alpha2

[2017-03-29 17:33] MokahTGS commented on #286
I have been running the latest alpha for 1.10.2 and so far haven't crashed with this issue.  To be fair though, it wasn't automatically crashing before.  It was a bit random.

[2017-03-29 17:35] MokahTGS opened #298 "[Question/Suggestion] Quest Edit Toggle In Game"
Is there a way to toggle the edit mode on and off in game so I can test stuff without having to reload the game?

[2017-03-29 17:41] way2muchnoise commented on #286
Then I'll close this for now feel free to reopen if it happens again.

[2017-03-29 17:41] #286 closed, assigned to lorddusk

[2017-03-29 17:44] lorddusk commented on #298
No, and this is a design choice we made for a secret feature we had a few versions back.

[2017-03-29 17:44] #298 closed, assigned to nobody

[2017-03-29 21:23] way2muchnoise commented on #295
Fixed as of 4c7cf5b6de07ab4c95090e7901f519d8c6f20379

[2017-03-29 21:23] #295 closed, assigned to way2muchnoise

[2017-03-29 22:42] AshZification opened #299 "[Request] Player reset on death with hardcore mode"
Similar to the requests in #252 and #261
Set up hqm hardcore on a server, such that if a player on the server dies on their last life, they will be able to log back in, with "starting" inventory and new spawn location after a set number of hours/days
- if possible have the ban list auto-purge after a set time; either set based on real time (as in every 6 hours), or after a set amount of time since

[2017-03-29 22:55] bookerthegeek commented on #299
Should be doable with a temp ban vs a perm ban. And then just have a custom listener to remove the ban history for that ban after the temp ban is done.

Also set for temp bam to delete the player data fully.

[2017-03-30 11:08] ThomasAunvik commented on #292
Seems this also happens when picking up other items too. And it seems to be a server crash, as the file name is: `crash-2017-03-30_13.09.14-server.txt`

[2017-03-30 14:05] Saereth opened #300 "[1.10.2 client crash when inviting a player to your team]"
crashlog:
https://gist.github.com/Saereth/a4bb7f28d54b24a2365da8c6679546aa

version: HQM-New Heights-1.10.2-5.1.0alpha2

[2017-03-30 14:14] Saereth opened #301 "[1.10.2] Detection quests not triggering on the server"
Added a detection quest for a bucket, completes fine in single player. After migrating the quests to the server and creating a new world the quest shows up but it will not complete for anyone. This is not limited to detection tasks. Quests that work in SSP will not complete (detection, kill, crafting, etc).

HQM New Heights (1.10.2-5.1.0Alpha2)

[2017-03-30 14:15] Saereth opened #302 "[1.10.2 Op edit book crashes upon completing a quest]"
crashlog: https://hastebin.com/enotiqufoz.sql

HQM-New Heights-1.10.2-5.1.0alpha2

steps to reproduce: do /hqm edit, get op book, go into quest (in this case, bucket quest detection) click to complete the quest manually, game crashes with this error.

[2017-04-02 20:57] Boomflex opened #303 "[1.10.2] Severe FPS drop on opening of a page of quests."
Version: HQM-New Heights-1.10.2-5.1.0alpha3

When opening a page with a lot of quests on there such as (https://gyazo.com/6ff6a0c76292b70bca50673134716cb0) it drops from 200+ FPS to 6/7 FPS.

Before: https://gyazo.com/6f3318ac0affb2bf00b9083167a46fc8
After Opening: https://gyazo.com/ecb2c7487533efa866b432a9d949c760

This is on Invasion 1.0.2 pack with latest Forge.

Thanks.

[2017-04-03 17:03] Saereth commented on #301
Alpah3 + resetting the server quests resolved this

[2017-04-03 17:03] #301 closed, assigned to nobody

[2017-04-03 17:05] Saereth opened #304 "[1.10.2 Question/bug updating quests on a sever]"
After updating quests I copied the new quest files to the server from ssp into the config/hqm folder. When the server restarted it shows zero quests. Only by deleting the hqm folder in the world save on the server did it fully rebuilt and the quests started working. This is problematic as it obviously resets all teams and progress.

What is the proper way to update your quests on a server or is th

[2017-04-03 23:41] Boolyman opened #305 "[Request] Import Quest Option from BQM"
Seeing as the other questing mod BQM has been dropped by many devs due to numerous unresolved issues, is there any way you can add the option to Import quests from that mod to your platform?  Some devs are stuck half way through their pack with hundreds of quests they would need to re-write if they wanted to switch to your mod

[2017-04-04 07:27] way2muchnoise commented on #305
I should talk to @funwayguy about this, cause we would need some adaptors for it. Might be better as some addon or stand alone piece of code to convert his json to ours. Or at least as far as possible.

[2017-04-04 23:20] Boolyman commented on #305
Looking forward to it, if possible.

[2017-04-05 01:22] Funwayguy commented on #305
Currently busy with Uni, hence the recent lack of bug fixing from my side, but I'll look into what we can do for moving quests across. A big problem besides differences in JSON formatting is that HQM has a technical limit to the amount of quests it can support before things like network packets breakdown (unless that has since been fixed).

[2017-04-05 09:39] way2muchnoise commented on #305
@Funwayguy the hard limit should be a lot higher then before now and if we ever hit it I'll look into fixing it.

[2017-04-05 18:43] Boomflex opened #306 "[1.10.2] Quests wiped on enabling Hardcore mode (Invasion Pack 1.0.4)"
Forge Version: forge-12.18.3.2254
MC Version: 1.10.2
Modpack: Invasion 1.0.4.
HQM Version: 5.1.0alpha

When you start a party and set it to Hardcore mode, the quest book wipes itself on relogging.

See video for evidence.

https://youtu.be/OSYvqEv_NmA

This has been done 3 times in a row on fresh server installs.

Thanks.

[2017-04-05 18:49] way2muchnoise commented on #306
That is strange, also you have zero lives left when you log in. Strange

[2017-04-05 18:53] Boomflex commented on #306
Yeah I did notice that too...

It works in SSP, but SMP it does not.

[2017-04-09 20:07] justin-munyer opened #307 "Crash when inviting player who changed their Minecraft IGN recently"
Hey, I have a player who just changed their minecraft name yesterday and joined the server today.  When attempting to invite them to a party, or when they attempt to start their own party, the game crashes to menu (An existing connection was forcibly closed by the remote host).

Experienced and replicated on HQM-New Heights-1.10.2-5.1.0alpha4.jar within the Invasion modpack on FTB/Curse

[2017-04-09 20:27] way2muchnoise commented on #307
Any errors in the logs?

[2017-04-09 21:02] justin-munyer commented on #307
https://pastebin.com/kMxRfBDU

[2017-04-09 21:05] way2muchnoise commented on #307
That crash log seems a lot like #284

[2017-04-10 18:13] shashankgarg92 commented on #306
Actually It doesn't work on single player too. But you can fix it. Just downgrade mod to Beta 4. That fixed it for me.

[2017-04-11 19:45] arfink opened #308 "1.11.2 HQM 5.1.0alpha2 Crash when picking up items"
Running HQM with a few 1.11.2 mods, I made some quests in creative, and switched to survival to test. All was well, until I tried to pick an item up off the ground, causing the following crash:

FML crashlog: https://pastebin.com/uTwWWRdK

This seems to happen regardless of other mods as well. Could it be my quests?

[2017-04-12 20:29] canitzp commented on #287
Please test it with the latest 1.11.2 version of HQM

[2017-04-12 20:30] canitzp commented on #292
Please test it with the latest 1.11.2 version of HQM

[2017-04-12 20:31] canitzp commented on #293
As long as I can remember, these rendering bugs happened

[2017-04-12 20:32] canitzp commented on #297
Please test it with the latest 1.11.2 version of HQM

[2017-04-12 20:32] canitzp commented on #308
Please test it with the latest 1.11.2 version of HQM

[2017-04-12 20:33] canitzp commented on #275
Please test it with the latest 1.11.2 version of HQM

[2017-04-12 20:33] canitzp commented on #276
Please test it with the latest 1.11.2 version of HQM

[2017-04-13 17:49] Shahhubminecraft opened #309 "1.10.2"
When will you be updating 1.10.2 of hqm because a lot of modpacks are using 1.10.2 and the 1.10.2 version of the pack atm is highly buggy and I have losts the quests multiple times and it be nice if the mod would be updated to fix a lot of the errors

~Shahhubminecraft

[2017-04-13 18:03] way2muchnoise commented on #309
What version are you currently on? there have been a couple new alpha in like the past month?

[2017-04-13 23:51] Shahhubminecraft commented on #309
Well there is no update available on curse for 1.10.2

[2017-04-13 23:51] Shahhubminecraft commented on #309
All I want is for hqm to work on a server and not just single player

[2017-04-14 08:07] way2muchnoise commented on #309
They are marked as alpha, you might want to set your launcher to show those as well.

This is the version Darkosto uses for Invasion and does work in both SP and MP.
https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2402526

[2017-04-14 08:51] Terpo commented on #185
Short update for the newest 1.11 version (alpha3). description.txt still does not save äöüß ;). (still a very minor thing)

[2017-04-14 09:48] Terpo commented on #308
Seems to be fixed. My pack has something like 130 quests in 1.11.2 (alpha3) with a lot of detecting quests and so far I could not reproduce the crash anymore.

[2017-04-14 10:01] Terpo opened #310 "Migration guide from alpha2 -> alpha3 for 1.11.2 and alpha3 -> alpha4 for 1.10.2"
Hello!
This is NOT a bug report but a small guide how to migrate your hqm data from alpha2 to alpha3 in the 1.11.2 version of HQM.

_**EDIT by canitzp:**
This guide should also work for the migration from alpha3 to alpha4 of th 1.10.2 HQM version_

Make a backup folder of your old hqm config folder for safety.

**1st: the folder "quests" in config does not exist anymore**
the folder "remote" conta

[2017-04-14 10:09] #308 closed, assigned to nobody

[2017-04-14 10:33] Terpo commented on #292
Report is duplictate to #308
Should be fixed.

[2017-04-14 10:34] #292 closed, assigned to canitzp

[2017-04-14 10:56] Terpo opened #311 "[1.11.2] NoSuchMethod crash - team related"
Alpha3 with forge 13.20.0.2278
https://gist.github.com/Terpo/be77fa41689e7593fec5ee1cc90f1321

I was trying some blocks, and when breaking the block the game crashed.

Crash is related to team stuff. I'm editing with the OP book but did not joined a team so far (why should I ^^)

[2017-04-14 11:00] Terpo opened #312 "[1.11.2] NPE on Team.createQuestData"
Alpha3 with forge 13.20.0.2278
https://gist.github.com/Terpo/85d32c212839974123374bd923166f4e

Again something team related. I don't have a team in SP while editing my book :).

[2017-04-14 11:00] way2muchnoise commented on #311
As background info, a player is always in a team (some in memory team when not actually in a party).

But that seems like a client method called on the server side.

[2017-04-14 11:03] Terpo commented on #311
Happened in SP without opened lan server if that helps.

[2017-04-14 20:57] HermoidIronoak commented on #228
I'm having the same issue in a LAN setting with my wife. We are trying to play the Invasion pack by darkosto. If I start a world and she joins me, she doesn't have quests. Vice versa for when she starts a world. The modpack has "HQM-New Heights-1.10.2-5.1.0 alpha4" Thank you for any assistance you can give us

[2017-04-14 21:07] HermoidIronoak commented on #309
@way2muchnoise its isn't working in LAN though.... :(

[2017-04-14 21:36] way2muchnoise commented on #228
LAN is kinda broken atm, due to me not having to much free time right now there is no fix coming soon. You might wanna try setting up a dedicated server. You can set that up on your local machine, if you have some free ram that is.

[2017-04-14 22:17] HermoidIronoak commented on #228
Thank you for the heads up! I'll look into that, though I'm not much for computer lingo... Could you recommend a guide somewheres that would walk me through the process of setting up a server on ones personal computer?

[2017-04-15 09:31] Terpo opened #313 "[1.11.2] Changing quest type not possible"
Alpha3 with forge 13.20.0.2278
https://gist.github.com/Terpo/f2acfd71844c05f62fdbf3b60b6b98fe

Simply create a quest and try to change its type to something different. It does nothing but puts out the log above. No crash and just a minor problem.

[2017-04-15 11:35] way2muchnoise commented on #228
@HermoidIronfist http://minecraft.gamepedia.com/Tutorials/Setting_up_a_Minecraft_Forge_server or http://www.minecraftforge.net/forum/topic/18332-how-do-i-make-a-forge-server-multiplayer/

It comes down to downloading a forge server jar via their downloader available on http://files.minecraftforge.net/ (I recommend using the recommended version or what ever version your pack needs). After that it i

[2017-04-16 00:20] ThomasAunvik commented on #297
Fixed, Thank You.

[2017-04-16 00:20] #297 closed, assigned to nobody

[2017-04-16 15:43] Utildayael opened #314 "[1.10.2][Bug] TIC Ranged Weapons and Kill Monster Quests"
I'm not sure if this is a Tinkers issue or a HQM issue so I apologize in advance.

Testing out the pack I'm working on last night and I have a section with all the kill x <insert creature> quests, for example, kill 10 zombies.

I spawn the zombies with mob eggs and then shot them with a Tinkers longbow. Looked at my quest book and said my kill count for the quest was still 0. Ok figured it didn't

[2017-04-18 15:52] NathanConnors opened #315 "Resetting Quests"
I'm having an issue where the quest book gets reset on the Invasion Mod Pack every time I restart the client. I have been using /HQM edit to get the cheat book and redo the done quests but it is getting annoying.

Thank you,

[2017-04-18 16:59] way2muchnoise commented on #315
Are you playing single player or multiplayer?

[2017-04-18 17:03] NathanConnors commented on #315
single player

[2017-04-20 20:33] NathanConnors commented on #315
In the current update of Invasion pack this has been addressed, apologies thought it was a HQM issue not the pack issue.

[2017-04-20 20:35] #315 closed, assigned to nobody

[2017-04-21 03:18] arfink opened #316 "[1.10.2] Reputation requirements not being saved to JSON"
In 1.10.2-5.1.0alpha4, when adding a reputation requirement with the in-game editor, it will not save correctly. Regardless of what settings I pick for the reputation requirement, the resulting JSON file will not save the required data. For example, I make a quest that requires 64 cookies and a reputation level, and the JSON only shows:

"tasks":[{"type":"CONSUME","items":[{"item":{"id":"minecraft

[2017-04-21 03:20] arfink opened #317 "[1.10.2] Some complex items do not save NBT data correctly in loot bags or quest rewards"
I have found two kinds of items which do not save NBT data correctly when placed in loot bags or quest rewards, namely, enchanted items with colored runes from Quark mod, and custom blocks from Chisel and Bits. Could this be a future feature if this isn't a bug?

[2017-04-21 03:22] arfink commented on #317
FYI, right now I am trying to work around this issue using the quest command feature, although that is also not behaving the way I think it should. I have not yet determined that behavior to be a bug, and is probably just me being dense.

[2017-04-23 19:51] arfink opened #318 "[1.10.2] Opening quest bags in SMP causing enormous lag spikes"
(using version 5.1.0alpha4 for 1.10.2 with Forge 1.10.2-12.18.3.2185)
When opening quest bags, I find that there will be a huge lag spike, which the system will eventually recover from, but not before spewing this error. Also, the reward from the bag will enter the player's inventory as long as they don't time out and disconnect, although the interface to display the reward info will not appear, a

[2017-04-23 20:23] arfink commented on #318
BTW, if I delete my bags.json file from /world and from /config/hqm/default then it will consume the bag without lagging out the server. My bags.json is attached.
[bags-json.txt](https://github.com/lorddusk/HQM/files/950002/bags-json.txt)

[2017-04-23 20:32] arfink commented on #318
Found that making a reward have a limit value caused this issue. Removing the limits from quest bags fixed the issue.

[2017-04-24 12:40] beringtom commented on #309
I'll just leave this here ;)

https://github.com/Darkosto/InvasionIssues/issues/179

[2017-04-24 21:11] teagan75 opened #319 "[1.10.2] Quest Server Desync"
Version: HQM New Heights (1.10.2-5.1.0Alpha4)

All necessary files are on server and with clients. Some players can see quests others can't. The ones who can't can see them in SP.

[2017-04-30 17:38] Utildayael opened #320 "[1.10.2] Kills Counting as Multiple"
Odd one for ya. We have some kill x of y type quests in our pack and as I was testing I noticed that killing say, 1 pig, results in HQM saying I've killed 4 pigs! This was using a vanilla stone sword so nothing special. Chickens, cows, sheep, etc all have the same issue. The quest was set to kill 15 pigs but after killing 4 it was marked done as it thought you had killed 16.

MC 1.10.2
Forge 12.18

[2017-05-02 20:32] MidnightsFX commented on #284
Also seeing this error, but on ticking entity.
[NPE](https://pastebin.com/LtxmQbFJ)

I can provide more from the log if required.

[2017-05-03 01:54] plunginghornets commented on #311
Exact same bug. I just started a fresh world and broke a single block of wood and crashed. No team stuff, not even opened to lan. [crash report](https://gist.github.com/plunginghornets/a459979b831e011f5801aac9ced58fd2)

[2017-05-06 04:45] RaineAndrews opened #321 "[1.10.2] HQM Questbook blank for other player in LAN connection"
In the latest Nuts and Bolts: Torqued modpack.  Issue was originally reported at their github at

[https://github.com/breakinblocks/nutsandboltstorqued/issues/174#issuecomment-299496717](url)

[2017-05-07 22:27] MokahTGS opened #322 "[1.10.2] Crash Loading a Savegame"
Getting a crash loading a savegame.

https://pastebin.com/kcRP1e1G

[2017-05-09 14:46] TwitchtvCarbs commented on #311
This bug still exists using forge 13.20.0.2282 Mc1.11.2 Hqm Alpha3

https://github.com/TwitchtvCarbs/The-Collection-Issues/issues/30

[2017-05-09 15:15] way2muchnoise commented on #311
@TwitchtvCarbs ~~you could at least try the latest alpha which is 4. https://minecraft.curseforge.com/projects/hardcore-questing-mode/files/2402526~~

EDIT: didn't see the 1.11.2, my bad

[2017-05-09 15:28] TwitchtvCarbs commented on #311
I wonder did forge git rid/ change that method in 1.11.2? Perhaps that's why it can't be found? I'm presuming the mod is ported from 1.10 to 1.11 using the same-ish code which in 1.11.2 can cause issues with item handling being different.

[2017-05-09 15:36] way2muchnoise commented on #311
I changed that method to be server side only, my guess is that it still gets called client side in 1.11.2 somewhere. aka regression

[2017-05-09 15:37] TwitchtvCarbs commented on #293
I think just an outline on the texture of the book should give it a clean black finish :) I've had this issue with my mod items too it seems to clip them sometimes around the edges.

[2017-05-10 19:42] TwitchtvCarbs commented on #311
Yeah its pretty bad, It only seems to happen in local single player worlds but breaking a block or picking up an item seems to cause the crash repeatedly. I did have some luck opening the book then I could play but Im not sure having to open the book everytime you log is convenient XD It's also not guaranteed to work which makes testing things in the single player world right now a little hard for

[2017-05-11 03:53] Redlotus99 opened #323 "[1.10.2] HQM cannot detect Thermal Expansion Machines"
I have crafting quests to craft each Thermal Expansion machine, but I cannot get HQM to recognize the machines. I have tried Fuzzy detection and also tried it as a crafting quest and a detection quest to no avail. Any idea how I can make this work or possibly what I'm doing wrong?

[2017-05-11 13:43] way2muchnoise commented on #323
For what version of mc, hqm and te is this?

[2017-05-11 13:59] Redlotus99 commented on #323
MC - 1.10.2
HQM - HQM-New Heights-1.10.2-5.1.0alpha4.jar
TE - ThermalExpansion-1.10.2-5.0.4.90-universal.jar
Forge - 1.10.2 - 12.18.3.2281

[2017-05-11 15:55] canitzp commented on #321
Can you provide further information about your MC-Instance like MC-version, forge-version, log files, etc

[2017-05-11 15:57] canitzp commented on #317
Can you provide some more information about your MC-Instance like versions or log files

[2017-05-11 16:01] canitzp commented on #309
@beringtom Can you open a seperate issue for it

[2017-05-11 16:18] #307 closed, assigned to nobody

[2017-05-11 16:23] canitzp commented on #304
Try it with the help of #310

[2017-05-11 16:23] canitzp commented on #302
Please try it with a newer version of HQM

[2017-05-11 16:24] canitzp commented on #300
Please try it with a newer version of HQM

[2017-05-11 16:26] canitzp commented on #203
Any updates @superdave4054

[2017-05-11 16:29] superdave4054 commented on #203
Negative. I just stopped using it altogether.

[2017-05-11 16:47] canitzp commented on #206
Please try it with newer version

[2017-05-11 16:47] #206 closed, assigned to nobody

[2017-05-11 16:47] #203 closed, assigned to nobody

[2017-05-12 02:43] RaineAndrews commented on #321
Nuts and Bolts Torqued 1.6.4.7
Minecraft 1.10.2
Forge 12.18.3.2254

I'm not sure log files would be created.  There isn't a crash, it just doesn't have any quests for the second player in the LAN.

[2017-05-12 03:36] BrewingCoder commented on #288
I just experienced this issue on  Beta4, was unable to move past it and perform any sort of reputation reward.  The game was crashing with the same exception, which is what led me here.  Updating to Alpha4 has corrected my issue.

[2017-05-12 03:37] BrewingCoder commented on #288
FYI am attaching my crash log under Beta4 so you can validate it is the same.
[crash-2017-05-11_23.18.26-client.txt](https://github.com/lorddusk/HQM/files/994986/crash-2017-05-11_23.18.26-client.txt)

[2017-05-12 15:05] lolman2810 opened #324 "[1.10.2] invasion mod versions 1.0.5-1.0.7 new players unable to create teams"
Hi, i have been scouring both your github the invasion github and been unable to find a solution to this problem.

i have set up a multiplayer invasion server (started with 1.0.5 and has now been updated to 1.0.7)
modpack uses HQM-New Heights-1.10.2-5.1.0alpha4

in 1.0.5

- when the server was started we were able to make 1 team (the initial 3 players)
- we were then unable to add new players once

[2017-05-13 03:39] Badger-One commented on #300
I had the same crash on version HQM New Heights (1.10.2-5.1.0Alpha4) on the modpack HQM
Crashlog: https://gist.github.com/CyberColonel/9fa14af214144271ff7177cbeb87f874

[2017-05-13 06:04] canitzp commented on #300
@CyberColonel You posted the start of a log file. Please post the whole log file or the crash report file

[2017-05-13 20:43] TriageONE opened #325 "[1.10.2, 1.9.4] HQM no longer generates config files"
I have been working on a modpack for quite some time now and have realized that my config files were no longer being read, or written at all. I continually and aggressively screw with configs and have tried all 4 versions avail on curseforge and not one of them will generate a single config file.

All it does is give me an empty quest book and wont load any quests. It doesn't provide the option fo

[2017-05-13 22:40] canitzp commented on #325
I've never seen any comparable issue at this issue tracker. Can you provide some more information about your Environment like versions and a log file?

[2017-05-14 03:12] TriageONE commented on #325
I have done some testing in between my rick and morty binge and set up a new environment with only HQM and found that It may be the mudpack environment that I'm running, ill post logs

[fml-client-latest.txt](https://github.com/lorddusk/HQM/files/999079/fml-client-latest.txt)

That's the log file. Too bad most of its enderIO failing at finding its translations. .

Running 1.10.2. Forge 12.18.3.218

[2017-05-14 03:41] TriageONE commented on #325
Just opened another instance with MultiMC and the configs generated

Purged current configs and the configs generated, [Copied over to another file]

ANOMALY: Found [BetterFPS1.4.4-1.10] and [Optifine U D8] latest, banishing BetterFPS, killing the configs for said banished mod.

Restore old configs, keep quests in temporary folder, delete hqm config file in confic dir.

restarting minecraft..
....

[2017-05-14 09:48] way2muchnoise commented on #325
Alright guess we can close this since it was some quantum mod interaction that you can't reproduce anymore :p

[2017-05-14 09:48] #325 closed, assigned to nobody

[2017-05-14 09:59] Terpo commented on #287
I think this one can be closed for now. In the last weeks I added and changed a lot of quests without such a crash. If it happens again, I will call for help^^

[2017-05-14 09:59] #287 closed, assigned to canitzp

[2017-05-14 10:08] Terpo commented on #311
It seems that this problem only happens in SinglePlayer worlds. After some testing in a dev environment I can confirm that a server<->client system works.

Deleting @SideOnly(Side.SERVER) on getPlayerMP() solves the problem for the SP part.

[2017-05-14 11:45] way2muchnoise commented on #311
@Terpo but isn't a solution as I assume that there is server access in that method. Which is obviously not the case on the client side.

[2017-05-15 11:20] Discomanco opened #326 "[Request] Grid Snapping"
As much as I like making quests, what I really hate is positioning everything properly. It's not easy lining 50 quests up to look perfect :D
So a small proposal: A button (or keybind) to enable Grid and Snapping, to easily place quests

[2017-05-21 15:40] GameroftheUndead opened #327 "Reward bags not working!"
I'm making a modpack and using HQM for the quest book and rewards! I released a new update of the modpack and I found out that reward bags were no longer droping loot! I've tried looking for solutions but can't find any! The config is right too! Also, reward bags were working fine before I made an update!

Any help is appreciated thank you!

[2017-05-21 15:49] way2muchnoise commented on #327
MC version? HQM version? any mods that might interfere? This report is rather incomplete.

[2017-05-21 16:06] GameroftheUndead commented on #327
Oh right sorry!
The MC version is 1.7.10
The HQM version is "HQM The Journey (4.4.4)"
I do not beleive there are any mods that would interfere, the only other questing mod I have in the modpack are Better Questing and Better Questing - Standard Expansion but HQM was not working before those mods were in! I only added BQ because the reward bags weren't working so I was going to try to replace them

[2017-05-22 04:33] Dominance opened #328 "[1.11.2] Cannot assign a block to gate"
Cannot bring up the GUI for the gate blocks to place a custom block in it or change it to tech/magic like you could in earlier versions. Was this feature removed or is it just not working?

[2017-05-23 06:51] beeger33 opened #329 "Adding quests"
ok i have the 800+ quests and i found a few more quests .jsons i would like to add how do i do it so they show up in the book

[2017-05-23 07:23] way2muchnoise commented on #329
Version of mc and HQM? But usually use the `/hqm load <name of the json>` command.

[2017-05-23 07:50] beeger33 commented on #329
1.7.10 and 4.4.4

[2017-05-23 07:51] beeger33 commented on #329
how do i read the quests.hqm file

[2017-05-23 09:30] beeger33 commented on #329
it sez i do not have permission

[2017-05-24 22:04] TwitchtvCarbs commented on #311
Any progress on this issue? :3

[2017-05-24 22:07] way2muchnoise commented on #311
I have progress on my thesis, but not on this issue. I'll be done once my finals are over, which should be mid or end of june.

[2017-05-24 22:13] TwitchtvCarbs commented on #311
Gotcha gotcha, sorry I asked lol was just wondering :/

[2017-05-26 22:24] Terpo opened #330 "[1.11.2] Progression not saved"
Currently I'm testing the latest 1.11.2 version of hqm (HQM-New Heights-1.11.2-5.1.0alpha3) on a server / client environment.

I'm unable to create a team.
Client log for this: https://gist.github.com/Terpo/8cfea4535157951861620bf09b666b14
Server log for this: Nothin in latest and nothing in forge log at this timestamps

Also, without a team, when I'm finishing a quest and restart the server, all

[2017-05-26 22:33] Terpo opened #331 "[1.11.2] Task with multiple crafting steps not working"
Alpha 3 for 1.11.2
I have a crafting task where a player has to craft multiple tools, see gist:
https://gist.github.com/Terpo/23a87eab61be52334e2f2ffe45e228cf

The first tool (shovel) is recognized. All other tools stay at 0%.

Tested on server <-> client environment.

[2017-05-26 22:37] Terpo commented on #185
Short update:
after putting the alpha3 into a real server <-> client environment the good old ä,ö,ü values are replaced. I think its a problem because the server is running on a linux system and the client was on a windows system. Maybe I can solve it myself when changing the default language table from english to german on the root system. All quests are saved as ANSI, maybe UTF8 would help here

[2017-05-27 18:28] Cavin-V opened #332 "[1.10.2] SpawnBook=true seemingly not working"
I am trying to make a modpack that includes some small quests to help people figure out mods that might have changed from how most people understood them, or mods that are just in general hard to understand. however as the config setting for spawning the book is set to true the book does not spawn on the player upon a new world creation. I am unsure as to why this has happened and It has always be

[2017-05-27 23:14] binary-dragon opened #333 "Can't delete reputation bars/ reputation bars appear in the wrong quest page"
In edit mode, tried to add a bunch of rep bars to one quest page nothing happened. found them on a different quest group. (loads of them) they do not delete it seems, even though the save dialogue says that they are being deleted. they just stay there.

running lasted Alpha Available on Curse.

[2017-05-27 23:19] binary-dragon commented on #333
<img width="1680" alt="screen shot 2017-05-27 at 4 16 56 pm" src="https://cloud.githubusercontent.com/assets/29007176/26524863/3d909d7a-42f8-11e7-963f-04f17e3ea508.png">
here a photo I placed them at the top, none of them will delete.

[2017-05-28 02:27] Dominance commented on #330
Does your client / server have edit mode on. Even if server has it disabled and client has it enabled. you will be unable to make a team. and visa versa.

[2017-05-28 02:33] Dominance opened #334 "[1.11.2] Quest Gate blocks do not work"
Pretty much as the subject states. I cannot get the quest block to function at all. outside being a unbreakable block. It shows that you can assign the quest to the block. How ever after multiple attempts, on quest completion the linked gate does not do anything. I have tested this in edit mode, then edit mode link gates quit game, turn off edit mode. reload and go back to world and complete quest

[2017-05-28 11:42] Terpo commented on #330
no, don't have edit mode enabled on server and client.
client:
editmode.cfg https://gist.github.com/Terpo/54bc32adc7dbe5b78bb2b0fe02300d98
hqmconfig.cfg https://gist.github.com/Terpo/0fb9d3f14b0042b07ea998a9af3b208a

server:
editmode.cfg https://gist.github.com/Terpo/1dc12506a4252c781cc1b7afd1c89b4a
hqmconfig.cfg https://gist.github.com/Terpo/51bb1e524bfcdc01c8d3516fa7b15e35

[2017-05-28 12:36] Dominance commented on #330
At ok. I just knew that to be another cause as to why you cannot make parties.

[2017-05-29 10:17] Terpo commented on #331
I've uploaded a cleaned fml server log from the last 24h for you. There are serval HQM crafting event errors.
https://gist.githubusercontent.com/Terpo/c1feca98c59a03fb7318602258fb5ce8/raw/0515d7f2a0febb0463595dd7eae5314a598ad9fb/gistfile1.txt

another side effect is, that you will get your item from crafting, but when closing the crafting table you also get back your items.

also verified this wit

[2017-05-29 16:30] Terpo commented on #330
I did some more testing with a completly fresh server<->client enviroment.
First: creation of teams does work, but the client has to disconnect and reconnect to the server to get synchronized data. After reconnect the player is in the team.

Second: The problem with not saving does not seem to be a problem of the mod itself, because with just JEI and HQM it is working as intended. All I can say at

[2017-05-29 18:13] Terpo commented on #330
Wow....I found the issue, finally! When migrating from alpha 2 to alpha 3 for the 1.11 version make sure to delete the old data.json file. This file was causing all my problems so far.

[2017-05-29 18:13] #330 closed, assigned to nobody

[2017-05-30 05:21] blu0191 opened #335 "[Request]"

[2017-05-30 05:21] #335 closed, assigned to nobody

[2017-05-30 05:21] blu0191 commented on #335
whoops

[2017-05-30 05:25] blu0191 opened #336 "[Request] Modify world border on quest completion feature"
I was wondering if you could add a feature for modpack/questbook makers to modify the world border when a quest is completed? Would be awesome

[2017-05-31 03:10] Cavin-V opened #337 "[1.10.2] Server side quests not loading"
As I am making a modpack that includes quests it is only natural I would try to make a working server for the modpack for people to play with their friends in the modpack.
however when I open the questbook on the server even though the quests work perfectly fine in singleplayer, when the quest configs are copied over to the server, it does not seem to load at all.
The strangest part is that when I

[2017-05-31 03:46] Cavin-V commented on #336
the same outcome could come from just making a quest do the command to change the world border

[2017-06-03 18:45] 10dayxm opened #338 "[1.11.2] Crash after viewing Kill Quest"
https://pastebin.com/5WJ2rGKa

[2017-06-10 12:11] ghost commented on #311
Similar crash also happens when picking up items with NBT...

[2017-06-10 14:28] TheLimePixel opened #339 "[1.11.2] Random client-side crashes"
The client randomly crashes whenever the player Right-clicks or left-clicks in the world: https://pastebin.com/xCngj9Ky I'd suggest fixing this fast as it makes packs with the mod practically unplayable and otherwise a few thousand people won't be happy.

[2017-06-10 21:53] TheLimePixel opened #340 "[1.11.2] Bags randomly delete themselves"
So I worked on the bags for my pack for 2h just to have them randomly delete themselves. This has happened to me 3 times already. I create the tiers with the groups, run the game a few times, everything is alright and then out of a sudden, the next time I load up the pack they are gone and the ones in the remote folder are empty.

[2017-06-12 02:39] Dilnu commented on #220
Is 1.10.2 not being maintained?

[2017-06-12 08:37] way2muchnoise commented on #220
@Dilnu the 1.10.2 was updated for the Invasion modpack. All but LAN worlds should work.

[2017-06-12 11:46] Dilnu opened #341 "1.10.2 Incompatibility between Geographicraft and Hardcore Questing mode"
Hi there, I'm working on a modpack and I've noticed there seems to be an incompatibility between Geographicraft and Hardcore Questing mode. Specifically the HQM data fails to be copied from default into the save directory of the new world when Geographicraft is enabled.

If I then manually enable Questing Mode with /hqm quest I get a blank quest book.

If it helps I can upload any of the config fi

[2017-06-13 22:45] tethlah opened #342 "Tinkers' tools not setting off completion"
For some reason when I create quests with Tinkers', it seems to have a 50/50 chance of detecting a tool as a detection task.  I tried to make a trigger quest so that when they break a tinkers tool, it shows a quest line, but for some reason it doesn't trigger unless you manually detect it.  Which is a problem because it's invisible so they can't manually detect.

[2017-06-21 07:09] NicosaurusRex99 opened #343 "Saving Crash"
https://pastebin.com/YRkVdyMr

[2017-06-23 11:54] CruzBishop commented on #339
Going to attempt a patch soon, just setting up the workspace :)

[2017-06-23 20:02] TheLimePixel commented on #339
Woops. Welp, now I'd just rather have the mod update to 1.12, as  i don't plan on spending 3 whole days again making quests for the new progression line of my pack, when it's only going to get updates for 1 more week.

[2017-06-25 08:20] NicosaurusRex99 opened #345 "[1.11.2] Crash quest task detect item"
https://pastebin.com/w4ghHUFq

[2017-06-25 16:01] tethlah commented on #333
I'm having this issue as well.  But since you posted this a month ago and he hasn't bothered to acknowledge you, I'm assuming it's telling us to fuck off on this one.  The best thing to do is not use that feature, you have to go into the horrifically structured jsons and remove the bars at the end, it'll look like this ""reputationBar":[]}"  Just empty it out and not use any reputation bars.

[2017-06-26 00:37] bernie-g opened #346 "Invalid UUID string Crash"
I've been making a questing book, and one of my quests involves going to the nether. Whenever I go beneath y-level 32, my game crashes. Once it crashes, I can never load up the world again, it's just stuck on the Loading Terrain screen. I'm using the Skyfactory 3 Modpack, and I've added Veinminer, Better Questing, Standard Expansion, Optifine, and obviously HQM. Please help, as I've spent all day

[2017-06-28 02:53] KCFly1OH opened #347 "Seared Brick won't register"
When I pull a seared brick from my furnace, my HQM Quest Book doesn't register the item in my inventory. I've tried it on two different worlds now. Not sure what information I need to provide to possibly find a fix. Not seeing anyone else have this issue in a google search. I'm using ATLauncher Console 3.2.3.7 and running R&Q's Endless Modpack. I didn't find anyone having this issue on the webpage

[2017-07-10 08:20] HaydenBelanger opened #348 "ArrayIndexOutOfBoundsException when crafting any item"
This bug prevents the user from taking out any material easily from the crafting bench or sometimes at all. I can't tell what is causing this issue.
Version is HQM-New Heights-1.10.2-5.0.0beta4.jar
[code]

[2017-07-10 08:23] HaydenBelanger commented on #348
Never mind, confirmed working as normal as of the latest 1.10.2 alpha version.

[2017-07-10 08:23] #348 closed, assigned to nobody

[2017-07-10 20:25] tethlah commented on #316
I'm running into this issue as well.  Since it was first reported 2 months ago, is there any update on a plan of action to fix it?

[2017-07-15 22:00] James-Webb554 opened #349 "Crash on item pickup single and mp"
java.lang.NullPointerException: Ticking player
	at hardcorequesting.team.Team.createQuestData(Team.java:402)
	at hardcorequesting.team.Team.getQuestData(Team.java:407)
	at hardcorequesting.quests.QuestingData.getQuestData(QuestingData.java:118)
	at hardcorequesting.quests.task.QuestTask.getData(QuestTask.java:96)
	at hardcorequesting.quests.task.QuestTask.getData(QuestTask.java:92)
	at hardcoreque

[2017-07-26 18:01] LordEpos opened #351 "1.10.2 branch crashing upon world join (Crashlog)"
java.util.ConcurrentModificationException
	at java.util.ArrayList$Itr.checkForComodification(Unknown Source)
	at java.util.ArrayList$Itr.next(Unknown Source)
	at hardcorequesting.io.SaveHandler.saveAllQuestSets(SaveHandler.java:124)
	at hardcorequesting.quests.QuestSet.saveAll(QuestSet.java:83)
	at hardcorequesting.quests.QuestLine.saveAll(QuestLine.java:129)
	at hardcorequesting.event.WorldEventL

[2017-08-29 06:42] resinate commented on #337
yep can confirm quests do not load server sided, or pushed to modpacks on curse.

this is for version 1.10.2 only tho.

[2017-08-29 07:22] resinate commented on #321
HQM configs dont push to NON cheat mode single player worlds

[2017-08-29 07:27] resinate opened #354 "Configs dont load on single worlds"
HQM configs dont read/load when using worlds that dont have cheat mode enabled

Version 1.10.2 running latest version of the mod

[2017-08-29 10:02] JieSheng03 opened #355 "Party Data Corruption"
So on a particular server, with a particular mod pack The Simple Life 2, when creating a party, the player's data and quest just go missing. It shows 0 quest in total as such although it starts with a single quest. For this, the player could not even see if he/she was in the party. Is there a fix for this?

[2017-08-29 10:33] way2muchnoise commented on #355
MC version, forge version, HQM version? This is a rather incomplete report.

[2017-08-29 10:34] way2muchnoise commented on #354
Which configs?

[2017-08-29 11:23] JieSheng03 commented on #355
MC Version// HQM 1.10.2 5.1.0 Alpha 4// Forge 12.18.3.2254

[2017-08-30 00:34] resinate commented on #354
hqmconfig.cfg none of the settings work

i flagged stuff like:
    # Use this if you want the book to spawn on create world
    B:SpawnBook=true

    # If set to true, new worlds will automatically activate Questing mode
    B:"Auto-start questing mode"=true

makes new world, says HQM is not enabled

[2017-08-30 08:20] way2muchnoise commented on #354
Sure it says that? And not that hardcore questing is not enabled? Cause you can have questing without the lives AKA questing mode.

[2017-08-31 09:32] JieSheng03 commented on #355
Doing /hqm edit just says that the player does not exist, as I have a edit book before that, it says that I have no permission when I open it.

[2017-08-31 09:37] way2muchnoise commented on #355
To use an edit book you need to OP on the server, are you?

[2017-08-31 09:40] JieSheng03 commented on #355
I am, after I did /hqm enable, it reset all data and worked suddenly. But is there a way without /hqm enable?

[2017-08-31 09:41] lorddusk commented on #355
No, because that would mean you could use the mod, without enabling it first. If you want to edit quests, go into edit mode (change the config settings outside of the game).

[2017-08-31 09:45] JieSheng03 commented on #355
Is there to reset one's quest data?

[2017-08-31 10:12] way2muchnoise commented on #355
Just remove the json files that keep track of it. It should be in your world folder.

[2017-08-31 13:23] JieSheng03 commented on #355
What about on a server?

[2017-08-31 14:10] lorddusk commented on #355
Uses the same method, you can remove the relevant data from the world folder on a server.

[2017-09-02 11:27] AWolters-ru commented on #349
Can confirm this is a problem, it seems like the mod tries to send the data to your team, even if you are not in one. No idea whether that is right, but creating a one person team fixed the issue for me.

[2017-09-10 17:49] iSansho commented on #275
[crash-2017-09-10_19.41.34-client.txt](https://github.com/lorddusk/HQM/files/1290762/crash-2017-09-10_19.41.34-client.txt)
Same problem

forge-1.11.2-13.20.1.2393
HQM-New Heights-1.11.2-5.1.0alpha3.jar

[2017-09-19 14:23] Malus-Lupo opened #356 "Crash when picking up blocks?"
[crash-2017-09-19_09.09.48-server.txt](https://github.com/lorddusk/HQM/files/1314572/crash-2017-09-19_09.09.48-server.txt)

I Keep crashing when picking up blocks that are needed for a quest.  Minecraft 1.11.2  Latest HQM on Curse.

Any work around would be nice to?

[2017-09-21 22:27] DeadSix27 opened #357 "No progress being saved on a server?"
(This is on 1.10.2)

Edit mode is off on client and server.

B:ServerSync is set to true on both, client and server.

Both client and server have the default config subfolder with all the quests in etc.

Remote folder is empty on both.

So I join the server, all quests appear fine, however once I complete one, then shut down and restart both client and server and rejoin, my progress is not saved (

[2017-10-13 05:06] Omenavius opened #358 "Modify the .dat file for server"
I'm running a server that has HQM installed and want to modify the .dat file so i can just rest or complete 1 persons quests as some are not completing. I know there is the op book, but i don't want to /op player to fix this issue. Im looking for a way to mod the .dat file. any help would be great.

[2017-10-13 08:04] way2muchnoise commented on #358
I don't think there is a way of editing the .dat, that is why I moved to json for later releases.
Don't know if you already know this or not, but you can get op books for other players as well. So if it is an issue of opping this given player than that can solve your issue. If you don't want to op at all then this doesn't fix anything.

[2017-10-13 10:56] lorddusk opened #359 "TestIssuePleaseIgnore"
What the title said

[2017-10-13 10:58] #359 closed, assigned to nobody

[2017-10-14 15:16] Omenavius commented on #358
hmm, what program was used for 1.7.10 as i should be able to be opened and modified from there.

[2017-10-14 15:35] way2muchnoise commented on #358
No program was used, it is a binary file format

[2017-10-24 08:29] NielsPilgaard opened #360 "[Request] Picture integration"
Hey!

I'd love the ability to integrate pictures into the HQM book.
It could work by having a link, that then leads to a seperate page, that holds the image.

[2017-10-24 08:33] NielsPilgaard opened #361 "[Request] More options for reward bags"
Hey!

I'd like to request the ability to make bulks of reward bags of a certain type, instead of having to click to make each one. Additionally, a way to sort the reward bag entries on type, and that the bags appear a logical/consistent place, once created.

[2017-10-24 13:26] Dominance opened #362 "Gates no longer function 1.11/1.12"
The GUI no longer works as well as the assignment of quest to a gate.

[2017-10-25 23:25] Cazadorsniper opened #363 "HQM Items in Creative Tabs"
In HQM New Heights (1.12.x-5.2.0Alpha1) the items are leaking into every creative tab, modded and vanilla.

Its actually just the reward bags in every tab.

[2017-10-26 02:11] canitzp commented on #363
This bug was fixed an hour after the release. It isn't it worth to put out a new one for only such an issue, but maybe you find one of the other new bugs too xd

[2017-10-26 02:11] #363 closed, assigned to nobody

[2017-10-27 17:17] Quarris commented on #346
I'm getting the same error but dude, what you posted is literal cancer. Use https://pastebin.com/ or https://gist.github.com/ to post any crash reports or files. Not only is it much cleaner and well structured, it also is more likely to be answered by the creator. I would just chuckle and leave this post without even reading it if I made this mod.

[2017-10-30 14:11] StarZxz opened #364 "simplified Chinese problem"
Hello, my game version is: 1.10.2, but when I am in the main page (the first page to open the task of the book) set the text (simplified Chinese), exit games into the text and mark all become garbled, encoding seems to be wrong, what should be how to set up the simplified Chinese。
THANK YOU
： ）

[2017-11-03 01:19] xWhatsherfacex opened #365 "(Question) Is there a way to enable HQM on some worlds and not others? / Multiverse Support?"
I'm running a Modded 1.7.10 Server using Multiverse and was wondering if it is possible at all to enable the Hardcore functionality on only some worlds. Meaning that, if Players ran out of Lives they wouldn't be banned from the server itself, but rather banned from that particular world in the server until they earn more lives. Is this possible in any way, or is it just wishful thinking?

[2017-11-03 20:28] Krhymez opened #366 "World Crash when clicking on any quest."
I do not know what is causing this, but it seems once i reach a ceartain amount of quests it crashed. here is a pastebin.
https://pastebin.com/3n5Z1Rt4

[2017-11-04 00:51] Krougal opened #367 "[1.10.2] Crash on 2nd load"
Crash when opening a world (so start new game, then exit to menu/desktop, try to open world again)
This is happening from my own pack I'm trying to make
[crash-2017-11-03_20.37.37-server.txt](https://github.com/lorddusk/HQM/files/1442786/crash-2017-11-03_20.37.37-server.txt)
but it happens to me with Nuts and Bolts Torqued as well.

[2017-11-07 03:24] MajRatbag opened #368 "1.12.2 Can't get quests working on dedicated server"
Can anyone help with this issue? in previous versions all we had to do was copy the config/hqm/quests.hqm file to the server config/hqm folder and same on the client and everything worked.
Now with 1.12.2 it's changed and I cant figure out how to get the quests working.
Can someone outline the new procedure please.

Cheers,

MajRatbag

[2017-11-08 17:19] canitzp commented on #368
@ArclightTW

[2017-11-10 12:10] ghost opened #369 "[Suggestion/Request] Voice-over mode/Read it out loud button for dyslexic people."
Lots of people are dyslexic and I make modpacks, I would love it if HQM had a voice mode which plays on when you click on a button in a quest. This would be really great for dyslexic people and for people wanting to do voice overs with their quests.

[2017-11-11 14:41] Krougal commented on #367
Seeing this happening in 1.12.2 as well, realized it is because the config files are very touchy and default and remote need to be in sync. Are there any good rules on editing by hand? Much as I appreciate the ingame editor, it is a bit clunky when you've got 100+ quests you want to implement.

Solution to saves not loading is to delete the HQM files from the save and then let them be regenerated

[2017-11-12 07:18] MajRatbag commented on #368
thanks that helps alot
NOT!

[2017-11-12 08:08] way2muchnoise commented on #368
Dude the reason he pinged arclight is because he develop the 1.12.2 version. You can't just be a dick because you didn't receive an answer on your question. We don't get payed to provide either the mod nor support, people get busy. Be patient, you can request an update on a stale issue but this is just rude.

[2017-11-12 08:13] MajRatbag commented on #368
Sorry mate, just frustrated with lack of documentation and no answer to post after 4 or 5 days.
Quick reply to the last post though lol

On Sun, Nov 12, 2017 at 9:08 PM +1300, "way2muchnoise" <notifications@github.com<mailto:notifications@github.com>> wrote:

Dude the reason he pinged arclight is because he develop the 1.12.2 version. You can't just be a dick because you didn't receive an answer o

[2017-11-12 09:39] OfficialTomPG commented on #368
I apologise for my absence but I have pressing family issues that come above all modding commitments. Either another member of the team can look into this or I will investigate when I have time.

[2017-11-15 13:09] royalcw opened #370 "Crash when closing quest book with the ESC button"
Not sure how else to close the quest book other than hitting Esc key.  I've been building a quest series over the last few weeks and have about 70 quests or so built.  Today, the game randomly hit a fatal error and booted me out of the world when I tried to close the quest book and now crashes every time I close the book.  The only thing I did before this happened is a I added a new quest but didn

[2017-11-15 15:42] royalcw commented on #370
Self corrected.  Updated my Forge since a new EU2 version came out.  Issue resolved.

[2017-11-17 11:47] royalcw commented on #366
Starting to experience the same issues myself.  Been building up a quest book and after making 80 some quests I get this error a lot.

[2017-11-17 11:54] royalcw commented on #370
The issue stopped for a couple days after updating to Forge 14.23.0.2542 and I was able to build 15 more quests or so.  The same issue has returned.  The game crashes to the server select page (playing on local computer only) every time I close my quest book.  The log is the same as the original posted above.

[2017-11-18 12:02] royalcw commented on #233
This issue is still existing in 1.12.2.  It is definitely HQM causing it with the same error code shown above.

[2017-11-20 10:11] Boolyman commented on #370
Im getting this issue too now.

[2017-11-20 10:48] Boolyman commented on #366
We really need some responses to these issues... these are game breaking.

[2017-11-20 18:57] Krhymez commented on #366
I dropped all quest mods for 1.12.2
May be the better option here.

[2017-11-20 20:11] lorddusk commented on #366
I will start a complete rewrite this weekend.

Met vriendelijke groeten,

Tim Langen

On Mon, Nov 20, 2017 at 7:57 PM, Krhymez <notifications@github.com> wrote:

[2017-11-21 20:22] Boolyman opened #371 "Questbook Crashing and No Response to Issue Tickets"
The Questbook is unusable at this point.  After a certain number of quests the questbook becomes fragile... crashing the game back to the main menu after clicking on an icon or hitting escape.  Messages to the dev haven't been responded to, and other tickets for the same thing have been left untouched.  I have a pack coming out soon, and will be forced to switch to the Better Questing Mod, which h

[2017-11-21 20:26] lorddusk commented on #371
We are planning a complete rewrite very soon.

[2017-11-21 20:26] #371 closed, assigned to nobody

[2017-11-21 20:27] lorddusk commented on #370
We are planning a complete rewrite very soon.

[2017-11-24 19:54] TechnicLab opened #372 "Parties not working"
Hello!
Looks like parties system is completely broken: invited player is not seeing any invites and game crashes sometimes on creation of party.
[crash-2017-11-24_19.42.26-client.txt](https://github.com/lorddusk/HQM/files/1502455/crash-2017-11-24_19.42.26-client.txt)

[2017-12-02 01:50] MrsRatbag commented on #368
@ArclightTW So its been nearly a month and noone from the team has commented with anything helpful. I'm sure it would take less than 5 mins to send us in the right direction for some kind of documentation on how to make our quests work on the server for 1.12. We have used this mod for 1.7.10 and MUCH prefer it to better questing, BUT since there has been no replies we have been forced to muddle th

[2017-12-02 07:36] OfficialTomPG commented on #368
@MrsRatbag I apologise for my lack of absence from this issue but I have stepped back from modding for the time being as I have had some IRL problems that have consumed a lot of my time and focus.

I understand that all issues are being reviewed by the team to try and resolve but, due to my absence, I am unsure of an ETA on any expected fixes.

Thank you for continuing to support the HQM mod and I

[2017-12-06 08:15] Spearkiller opened #374 "[1.12.2] - Cannot search for most items when changing quest icons/item requirements"
There seems to be a bug where you cannot search for most items when changing icons for quests, and items required for quest tasks. The only items that show up are 5 blocks/items from the mod Roots, and all the crated items from Forestry.

Items in the inventory can still be used to set icons/requirements, so it's not entirely unusable, but pretty inconvenient, in my opinion.

Proof: https://cdn.di

[2017-12-07 06:01] Cuplex17 opened #375 "World Crashes on Closing Quest book"
I was editing some quests and closing the quest book to check something in JEI when the world crashes and puts me back to the main menu.
[2017-12-07-4.log.gz](https://github.com/lorddusk/HQM/files/1537969/2017-12-07-4.log.gz)

Edit: After I removed an empty quest, closing the quest book now makes the whole game not respond.

[2017-12-07 06:19] canitzp commented on #375
There is nothing is this log file. Can you post another log file please? In its name there should be 'fml-client latest' or 'fml-server latest'

[2017-12-07 06:23] Cuplex17 commented on #375
Do you mean "latest.log"?

[2017-12-07 06:25] canitzp commented on #375
Here is a picture, how it should look like: http://puu.sh/yB67F/456f6e682b.png
Here I would need the second file

[2017-12-07 06:32] Cuplex17 commented on #375
Internet kind of slow right now. Can I do a pastebin?

[2017-12-07 06:33] canitzp commented on #375
Yeah do it

[2017-12-07 06:34] Cuplex17 commented on #375
Actually, paste too big, pastebin won't allow. Please wait for me to upload file directly.

[2017-12-07 06:36] Cuplex17 commented on #375
[latest.log](https://github.com/lorddusk/HQM/files/1538017/latest.log)

[2017-12-07 07:53] canitzp commented on #375
The latest.log is also not enough. I could find an avidence that your problem is caused by HQM in both log files. You can try to delete the config folder of HQM, after backuping it and load the world

[2017-12-07 08:01] Cuplex17 commented on #375
For backing up, should i just copy the world save folder onto desktop and delete the old one? Do I need to do anything else apart from that?

[2017-12-07 08:05] canitzp commented on #375
You just copy /config/hqm to any other folder and then delete the nonbackup /config/hqm

[2017-12-07 08:11] Cuplex17 commented on #375
Ok let me try that and see if it fixes the problem.

[2017-12-07 08:18] Cuplex17 commented on #375
No, it still crashes the game when I close the quest book.

[2017-12-07 10:01] canitzp commented on #375
Then it is another mod. What is the exact message you get when the world closes?

[2017-12-08 00:09] Cuplex17 commented on #375
It just says internal server closed and puts me onto the multiplayer menu screen.

[2017-12-08 03:28] canitzp commented on #375
Then you have to do it the old way. Removing one mod, try the world. If it works than fine, otherwise remive the next one. I'll close this for now. If you find out that it is a bug with HQM than just reopen this issue

[2017-12-08 03:28] #375 closed, assigned to nobody

[2017-12-10 02:16] MainFreak opened #376 "[1.12.2] Setting "required amount of parents" gets reset to "all""
After restarting the game a quest I have set to only require 2 out of 3 possible parents gets reset to require all of them. Since two of those quests are connected as options it is impossible to complete all 3 quests and unlocking the next one without fixing this manually every time restart my game with Edit Mode, not at all if I was playing "legit" and not just editing things atm.

Forge Version:

[2017-12-17 22:51] TheQKnight commented on #370
I am now getting this issue as well. This mod has not been updated since October. Can you please update this mod to fix some of the bugs? I have had so many issues that it is almost impossible to play.

[2017-12-17 22:55] TheQKnight commented on #333
Having this issue as well.

[2017-12-18 12:31] MasterEnderman opened #377 "[1.12.2] Crash when starting a new World"
HQM: 5.2.0Alpha1
Forge: 14.23.1.2562

Crash Report: https://pastebin.com/Qn2RxTgc

[2017-12-27 19:46] ghost commented on #369
Hello?

[2017-12-27 20:16] way2muchnoise commented on #369
There isn't any active development going on right now for the mod. So you'll have to be patient.

[2018-01-19 20:33] DrSquishie opened #378 "Crashing When using the Questbook"
Using Awakening pack on Twitch but happens with other packs. Upon using the quest book it will crash when opening tabs, closing, going back etc. Java and video drivers up to date. Have 8gb of ram, also tried reinstalling packs.
https://pastebin.com/HjXbB3ik
Here are the logs but doesn't way much game ends without proper shutdown instant crash.

[2018-01-26 03:23] mindlessmrwaesome commented on #318
Oh my goodness thank you
I almost switched over to Better Questing after being stuck with this lag problem, which would have made me lose about 3 hours of work.
You just saved a good chunk of my life and I am grateful :D

[2018-01-26 04:33] canitzp commented on #318
Thanks for not switching yet @mindlessmrwaesome :smiley:

[2018-04-05 12:07] Bullorg74 commented on #366
I guess I got this to. Got to about 80 quests then "world freeze" and I have to force close the game.

MC 1.12,2
Forge 14.23.2.2654 and 14.23.2.2652 same issue with both.
HQM 1.12.x-5.2.0Alpha1

Is there any timeline on a update?

I just really like this mod and I want to use it.
I really appriciate all the work you modders do.

[14:01:32] [Netty Server IO #1/ERROR] [FML]: There was a critical exc

[2018-04-13 06:20] Wiral2 opened #379 "I crash when using this mod with Electroblob's Wizardry"
This is the crash report: https://gist.github.com/Wiral2/afdad8c7a79f8ba7802069ceb298a300

I get this when I try looking at the items tab from Electroblob's Wizardry in creative

[2018-04-13 06:42] canitzp commented on #379
this is most likely on Wizardrys end, but i cannot be sure since idk what Wizardry is doing

[2018-04-21 21:08] HurtsAsHell opened #380 "Crush with the mod and i can't modify anything"
This is the crash **log[https://pastebin.com/ph8xZXqG](url)**

[2018-05-03 15:51] mirairoses commented on #369
This could also just be fixed with a mod for bigger fonts in Minecraft. But I like how you thought about those people too.

[2018-05-12 13:46] derpierre65 opened #381 "[1.12] creative clear icon is a reward bag"
https://i.imgur.com/vk4SFMr.png

[2018-05-24 15:32] canitzp commented on #380
You're crashlog has expired. Please reupload it and provide a new link

[2018-05-26 21:52] Fenekhu opened #383 "no items, internal server crash on esc, crash from quests under open button, and more."
I can't remember why but somehow I accidentally deleted HQM out of my mods folder. I immediately reinstalled the same version. when I went back into my world, I had some quests that just happened to be under the "open" button for a set. There's an annoying bug where if you click open and a quest is under it, it will open that quest. I hit escape and minecraft went unresponsive and I had to force c

[2018-06-12 08:35] ghost opened #384 "[Rewrite] Different Quest icons and colors"
Hi lorddusk,

I have a idea,
your hqm is good, used in most modpack,
but you can add more button, with mmorpg rarity like:
![quest_frames](https://user-images.githubusercontent.com/27679699/41279160-05b2ff00-6e2c-11e8-86e9-0961cebc58f3.png)
red is the latest rarity, the creator of a modpack can assign all quest with rarity,
usefull to create a good visual for player,
what do you think about this i

[2018-06-12 10:41] canitzp commented on #384
Hi, I'm the currently active rewriter.
Your idea isn't bad, but instead of using textures I just can color thing on the code side. It's easier .
Please keep giving new ideas

[2018-06-12 10:53] ghost commented on #384
like advancements:
![widgets](https://user-images.githubusercontent.com/27679699/41286108-a07ed830-6e3e-11e8-8469-b36228f585d8.png)
![quest](https://user-images.githubusercontent.com/27679699/41286332-53259384-6e3f-11e8-85f7-4e34fe9eaaa6.png)
basically, more the quest is difficult more the image is different
but like the image up (first comment) quest just have 3 different background

[2018-06-12 13:57] way2muchnoise commented on #384
tbh you could just have a color preset when creating quests, so people can choose their own. Maybe add some defaulted colours to it? (or stick to the default minecraft colors)

[2018-06-12 14:09] ghost commented on #384
? a black color preset (example) quest is not so good to look and item with black color are overrided by preset.
Just the default color of HQM of actually GUI ?

[2018-06-12 14:39] canitzp commented on #384
Send me some textures for the quest. pls use the size of the one in the current hqm version. they are in the questmap.png. I color them on the code side, so just make them white, so my colouring is easier

[2018-06-12 15:03] ghost commented on #384
Not have textures but i have texture of BetterQuesting with Color in the first message but not fit with the default HQM questmap.png size

[2018-06-12 15:59] canitzp commented on #384
I write the code so that different icons/textures are possible, even if i don't get some

[2018-06-12 16:04] ghost commented on #384
if you need: (this is white)
with 3 different texture but this texture is from other mod and i dont have autorization !
![white_gui](https://user-images.githubusercontent.com/27679699/41302505-eb23278e-6e6a-11e8-83c8-a944e3789cba.png)

[2018-06-13 20:04] canitzp opened #385 "[Rewrite] Quest syncing"
Everytime a Client connects to a Server, the Server sends all the quest jsons into a folder located at %mcdir%/hqm_temp/%server_name%/. From there we read all quests and put them into the cleared QUEST_DATA Map.
Now if the same client connects to the server, they compare the hashes of all jsons and are skipping the send process if the hashes are matching.
If a client connects to a client world, th

[2018-06-13 20:06] #380 closed, assigned to nobody

[2018-06-13 20:07] #381 closed, assigned to nobody

[2018-06-13 20:07] canitzp commented on #383
I'm sorry to tell you that this can't be fixed before the rewrite is done

[2018-06-13 20:07] #379 closed, assigned to nobody

[2018-06-13 20:10] canitzp commented on #366
This problem does came from the fact that you're having to many quest, so mc just can't send all of it within the bounds of one packet. This can't b fixed before the rewrite is finished

[2018-06-13 20:10] #366 closed, assigned to nobody

[2018-06-19 00:41] EMatzke1 opened #386 "[1.12.2-5.2.0Alpha1] Crash when editing hardcore questing book"
I was editing the hardcore questing book for my custom pack when it crashed when I decided to delete something.

It came up with this crashlong:
https://hastebin.com/nopavobori.sql

[2018-06-19 06:07] canitzp commented on #386
I'm sorry that I have to tell you that we don't maintain the old codebase and you have to wait for the rewrite version

[2018-07-03 13:20] Nightshaid opened #388 "Live count bug"
My world just got deleted while I still had 7 lives left. I am just a lotta bit pissed since I was working on that world for 3 days.

[2018-07-15 06:47] theDaleighChronicle commented on #363
This bug has not been fixed. It is still leaking the bags into every creative tab.

[2018-07-16 10:19] UltaVulta opened #389 "HQM causing massive lag spikes D:"
Okay so when I made these in a singleplayer world they all worked just fine but when I came onto a server it gave me huge server time out-ing lag spike. The exact same problem as this: https://github.com/lorddusk/HQM/issues/318, however, this issue was never solved. This is 1.12.2

[2018-07-16 22:01] UltaVulta commented on #389
I’m sorry for the poor detail. This takes place with loot bags with custom loot tables. I believe the lag is caused by limiting the amount of items given but each bag opened. I however, am not sure

[2018-07-19 06:42] Cynnimon opened #390 "QDS not accepting liquids/counting quest progress (1.7.10)"
Players on server are complaining that the QDS is not accepting liquid from various sources when attempting to complete quests. Note, this is a 1.7.10 pack (Divine Journey).

This issue continues on in single player testing as well, when attempting to draw liquid from a source (in this case drum) using a transfer node (liquid). The liquid drains, quest progress stays stuck at 0%.

Any help would b

[2018-07-19 12:55] astetyn opened #391 "Edit Mode on Server"
Hello,

I have installed this mod on server and on client. In server config I have Edit Mode off but when some of the players turn on the edit mode in client config, he can edit the quests. How to disable it? And how to create a server quests insted of client quests? Beacuse always I create quest its only on client.
Thanks.

[2018-08-05 09:05] ghost opened #392 "[Crash 5.2.0] Elemental Dimensions Runes"
Making a new quest and having it detect the Earth Rune from Elemental Dimensions mod seems to be an issue. After making the quest, the pack was reloaded and from then on whenever the questbook was opened and starting to be explored, the client would disconnect. Reconnecting and trying again would then lock-up the client. Took many tried to get a crash report, but did get one: https://pastebin.com/

[2018-08-09 06:59] #391 closed, assigned to nobody

[2018-08-09 07:05] astetyn opened #393 "Reset progres on Party creating"
Hello,

Every time when someone on my server creates a Party, his game crashed and quests will be deleted. I have to repair it through data file and remove Teams file. When will be this Bug repair? Or is there some posibility to disallow Parties? Thanks.

[2018-08-14 09:39] Llorx opened #394 "HQM quest limit inflection point"
Hi,

I would like to know what's the commit that allowed HQM to increase its quest limit, so I can try to create my own 1.7.10 build with those fixes.

Thank you!

[2018-08-14 17:11] way2muchnoise commented on #394
Pretty sure it was because I rewrote the whole save/load handling.

[2018-08-14 18:58] canitzp commented on #386
@CrossJaw could you please reuplod the crash report

[2018-08-14 19:05] canitzp commented on #378
i can't see any evidence that it has todo with HQM. If you think it is, then pls provide a valid crash report

[2018-08-14 19:05] #378 closed, assigned to nobody

[2018-08-14 19:11] EMatzke1 commented on #386
I'm afraid I may have deleted it in the process of doing some late spring cleaning on my pc. I'm sorry for any inconveniences that this may cause. I can however remember what caused the crash in more detail than I had previously stated.

What I basically did is instead of crashing when I deleted anything at all, it was only when I deleted things that shouldn't meant to be deleted such as the symbo

[2018-08-14 19:24] #220 closed, assigned to nobody

[2018-08-14 19:24] #226 closed, assigned to nobody

[2018-08-14 19:26] #238 closed, assigned to nobody

[2018-08-14 19:26] #240 closed, assigned to nobody

[2018-08-14 19:28] #276 closed, assigned to canitzp

[2018-08-14 19:36] canitzp commented on #288
Can't reproduce on latest 1.12.2 version anymore

[2018-08-14 19:36] #288 closed, assigned to way2muchnoise

[2018-08-14 19:36] #291 closed, assigned to nobody

[2018-08-14 19:36] #302 closed, assigned to nobody

[2018-08-14 19:37] #304 closed, assigned to nobody

[2018-08-14 19:37] #317 closed, assigned to nobody

[2018-08-14 20:35] charlescannon opened #395 "Crash when loading the game with only HQM 12 5.3.0alpha 1 installed and forge . 14.23.4.2750"
---- Minecraft Crash Report ----
// Sorry :(

Time: 8/14/18 2:28 PM
Description: There was a severe problem during mod loading that has caused the game to fail

net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Hardcore Questing Mode (hardcorequesting)
Caused by: java.lang.NoSuchMethodError: net.minecraft.block.properties.PropertyBool.create(Ljava/lang/String;)Lnet/minec

[2018-08-14 20:46] canitzp commented on #395
which hqm version

[2018-08-14 20:48] charlescannon commented on #395
5.3 alpha 1

[2018-08-14 20:49] canitzp commented on #395
can you try it in a clean environment with only hqm installed? This would be a bad crash if it happens in such an environment

[2018-08-14 20:52] charlescannon commented on #395
I unistalled everything else, downloaded newest forge, deleted configs. Only thing left to try is repopulate entire minecraft folder. Doing that now.

[2018-08-14 21:00] canitzp commented on #395
I recompiled the mod and checked it myself now. Works without a probem now, 5.3.1 is on the way to approval at curse. thx for the issue

[2018-08-14 21:00] #395 closed, assigned to nobody

[2018-08-14 21:01] charlescannon commented on #395
Awesome, thank you.

[2018-08-15 05:18] canitzp commented on #393
Please provide a crash-report from the person creating the party and maybe also a server log. Which versions are you using?

[2018-08-15 05:24] canitzp commented on #390
Is the liquid actually drained at all, so is the drum getting emptier? I only can imagine that there is a issue with the transfer node and if it is a issue with HQM, then I'm sorry to tell that 1.7.10 doesn'T get a update anytime soon

[2018-08-15 05:25] canitzp commented on #389
Like you said duplicate of #318

[2018-08-15 05:25] #389 closed, assigned to nobody

[2018-08-15 05:26] canitzp commented on #388
I can't help with enough details, like versions of mc forge and hqm, your modpack and the quests. Also log files would be nice

[2018-08-15 05:33] UltaVulta commented on #318
This error isn't fixed yet... I still have it

[2018-08-15 05:45] canitzp commented on #318
@UltaVulta Can you test a mod version for me now, if I gave it to you? 1.12.2

[2018-08-15 05:47] canitzp commented on #386
I tested it by clicking everywhere in deletion mode and could reproduce it. If you have a crash report again, than I could blind fix it. Reopen or create new issue if so

[2018-08-15 05:47] #386 closed, assigned to nobody

[2018-08-15 05:47] UltaVulta commented on #318
Yes

[2018-08-15 05:49] canitzp commented on #383
I have blind fixed a bug in version 5.3.0, where a erroro message like your's is coming too. Maybe it is fixed with 5.3.0. Please test it and if not then reopen the issue

[2018-08-15 05:49] #383 closed, assigned to nobody

[2018-08-15 05:49] canitzp commented on #383
You can use a texture pack to edit the hqm questbook textures ;D

[2018-08-15 05:50] #377 closed, assigned to nobody

[2018-08-15 05:54] canitzp commented on #374
It's a bit late for an answer now, but can you pls provide the image with another source? Alos this seems to be a modpack specific bug, cause when I test it, it works just fine

[2018-08-15 05:56] canitzp commented on #318
here it is http://puu.sh/Bevq1/a6486e5481.jar

[2018-08-15 06:11] canitzp commented on #370
Should be fixed since 5.3.0

[2018-08-15 06:11] #370 closed, assigned to nobody

[2018-08-15 06:14] canitzp commented on #368
@MajRatbag I tested it by doing thi: Creating the Quest in SIngle player -> started a 1.12.2 server with forge -> stopped it and copied the config/hqm/default folder from the client to the server, same folder name -> In the server config I then said ServerSync to true -> Whenever I connect now, the client receives every quest from the server without problems

[2018-08-15 06:18] canitzp commented on #367
I can't reprocuce the error in my local DEV environment. Would you please test it with the latest 5.3.1 version and then provide? Is you HQM right configured at the server? quests only in config/hqm/default and the ServerSync config to true?

[2018-08-15 06:19] canitzp commented on #365
Not in the non-rewrite versions. For the rewrite I plan to have a dimension blacklist/whitelist and support for multiple quest books per instance

[2018-08-15 06:19] #365 closed, assigned to nobody

[2018-08-15 06:20] canitzp commented on #364
The non-rewrite version and also the rewrite version only supports UTF-8 characters and they should work. For the rewrite on the other hand I plan to use external localization files for the questbook texts

[2018-08-15 06:20] #364 closed, assigned to nobody

[2018-08-15 06:21] #358 closed, assigned to nobody

[2018-08-15 06:22] canitzp commented on #357
I have to check this, but for me your description sounds right, so idk if it doesn't work

[2018-08-15 06:24] Cynnimon commented on #390
Canitzp - Yes the liquid drains as if it is being consumed, but the quest progress remains at 0%, no matter how much liquid is pumped into it. I tested it to see if it was the transfer node per your suggestion, and instead used a fluid conduit and a pressurized fluid conduit, and the same issue occurred. The barrel drained, the pipe had fluid moving through it, but the QDS remained at 0%. :)

[2018-08-15 06:37] canitzp commented on #318
@UltaVulta How long does it take before you can test it?

[2018-08-15 06:41] UltaVulta commented on #318
Hey! Sorry, literally just tested. I was in the middle of something else and had to boot everyone off my server. There are no lag spikes but it caused my limits to be removed. I had it limited to 1 drop for each tier and now that's just been removed in that update.

Thanks,
 - Ulta

[2018-08-15 06:43] canitzp commented on #390
How have you setuped the quest? which type of quest and which item did you used as aim?

[2018-08-15 07:03] canitzp commented on #318
I'm a bit stupid, so can you just explain what limits are and what they should do?

[2018-08-15 07:08] Cynnimon commented on #390
I did aim the quest, in particular I'm testing on the QDS accepting gelid cryotheum for the cryo world creative quest. I gave it both a drum and a bedrockium drum to test from. They are aimed to the QDS, I attempted all 6 faces, and 3 different means of piping it in (Transfer node liquid, ender fluid conduit, ender pressurised conduit) and still the QDS remains at 0%. Players on our server have to

[2018-08-15 07:17] DeadSix27 commented on #357
Uh, that's from 2017, and on 1.10, I moved to 1.12 quite a while back, you'll need to check if it still appears in 1.12 otherwise feel free to just close this.

[2018-08-15 07:21] #357 closed, assigned to nobody

[2018-08-15 08:25] UltaVulta commented on #318
Hey, Sorry about being so slow,

Basically, it was something when creating loot bag rewards that let me set the number of rewards that were meant to be given each time a bag was opened. I set this to only 1 because the items in bags were op. What it has been doing is lagging the server out a lot then either crashing or giving every item despite the limitations. Now what it does is it doesn't give

[2018-08-15 09:01] canitzp commented on #318
@UltaVulta You mean the retrival count that can be set for every group?

[2018-08-15 09:06] UltaVulta commented on #318
Yes

[2018-08-15 09:09] canitzp commented on #318
The retreval count doesn't say how much items of one group are in one bag, but how often the group can be received through a player. If you only want one item per bag than you need to create a lot of groups with just one item in them

[2018-08-15 09:18] UltaVulta commented on #318
Oh... Welp now i feel dumb lol. Im so so so sorry for wasting so much time

[2018-08-15 09:22] canitzp commented on #318
You don't wasted time. I learned it to and I should know it beforehand. Hava a good day

[2018-08-15 09:22] #318 closed, assigned to nobody

[2018-08-15 09:47] #392 closed, assigned to nobody

[2018-08-15 09:49] canitzp commented on #390
I can't confirm the Bug on your mod version, but this is cause I only have 1.12.2 to test and there I can tell that QDS are working sometimes

[2018-08-15 09:49] #390 closed, assigned to nobody

[2018-08-15 09:51] canitzp commented on #362
I can confirm that Quest Delivery Systems aren't working everytime. They are voiding every item you pump into and if you pump the needed items in it, they sometimes don't react, so you have to push a second time -> fixed after reassigning the Task to the QED

[2018-08-15 09:54] canitzp commented on #346
This was blind fixed in a 1.12 version for HQM. No backport until I have a stable 1.12.2/1.13 version

[2018-08-15 09:54] #346 closed, assigned to nobody

[2018-08-15 10:00] canitzp commented on #341
There is nothing in the log and the error doesn't make any sense at all

[2018-08-15 10:02] canitzp commented on #342
They have a lot of nbt, so you need to do a nbt independent or fuzzy detection, problem then is that they are all the same no matter wich materials they are made of if you're using nbt independent detection.

[2018-08-15 10:02] #342 closed, assigned to nobody

[2018-08-15 10:04] canitzp commented on #343
duplicate of #251 and fixed in 1.12. Backport only if I have a stable 1.12.2/1.13 version of HQM

[2018-08-15 10:04] #343 closed, assigned to nobody

[2018-08-15 10:05] canitzp commented on #345
version difference between client and server or a corrupted hqm file

[2018-08-15 10:05] #345 closed, assigned to nobody

[2018-08-15 10:07] canitzp commented on #349
Old version, pls update to 1.12 and reopen when it happens again

[2018-08-15 10:07] #349 closed, assigned to nobody

[2018-08-15 10:07] canitzp commented on #351
Fixed for 1.12. Backport only if I have a stable 1.12.2/1.13 version of HQM

[2018-08-15 10:07] #351 closed, assigned to nobody

[2018-08-15 10:08] #354 closed, assigned to nobody

[2018-08-15 10:09] canitzp commented on #356
Impossible bug. Probably different versions between client and server or a corrupted hqm jar file.

[2018-08-15 10:09] #356 closed, assigned to nobody

[2018-08-15 10:09] canitzp commented on #334
#362

[2018-08-15 10:09] #334 closed, assigned to nobody

[2018-08-15 20:36] Llorx commented on #394
@way2muchnoise fine, found the commit. Can you confirm that [this commit](https://github.com/lorddusk/HQM/commit/4ed3c378a924cb51820b43879354aa6e9161a6a7) is the one that you are pointing out? Also, can you do a bit of back memory and tell me if you think that 1.7.10 can support it or it uses "modern" Minecraft thinghies?

PD: I'm checking it and it was a brutal work. Great job :-)

[2018-08-16 16:11] way2muchnoise commented on #394
It indeed is that commit, and 1.7.10 should be capable of handling it. I just went from the binary format to a json format. Which needed a lot of new code.

[2018-08-18 16:51] Llorx commented on #394
One question more. I'm almost done, but I'm stuck with one thing as I'm not used to Java so I'm a bit lost with changes between 1.7 and 1.8.

You have some lines in `hardcorequesting\io\adapter\QuestTaskAdapter.java` with

    GENERIC(QuestDataTask::construct),
    DEATH(QuestDataTaskDeath::construct),
    ITEMS(QuestDataTaskItems::construct),
    LOCATION(QuestDataTaskLocation::construct),
    MO

[2018-08-18 17:19] Llorx commented on #394
Just compiled it. I've noticed that the questbook is empty ¿Are the quests created with the old method lost? ¿Do quests needs to be created again?

[2018-08-18 17:24] way2muchnoise commented on #394
If I recall correctly you need to use some addon to be able to export quests to json in an old world. And import that with the new version.

[2018-08-18 17:34] Llorx commented on #394
Perfect!

[2018-08-21 12:58] #289 closed, assigned to way2muchnoise

[2018-08-21 13:00] #300 closed, assigned to nobody

[2018-08-21 13:01] canitzp commented on #303
Probably one of the items in your quests, that needs a lot of rendering time

[2018-08-21 13:01] #303 closed, assigned to nobody

[2018-08-21 13:02] canitzp commented on #306
Tra in latest version

[2018-08-21 13:02] #306 closed, assigned to nobody

[2018-08-21 13:02] #309 closed, assigned to nobody

[2018-08-21 13:04] canitzp commented on #311
Pls test with current versions

[2018-08-21 13:04] #311 closed, assigned to canitzp

[2018-08-21 13:04] canitzp commented on #312
fixed in one of the latest versions

[2018-08-21 13:04] #312 closed, assigned to canitzp

[2018-08-21 13:07] canitzp commented on #316
Reputation isn't a thing I can fix nor do I really care about it. We also already decided that when a rewrite happens in the future, the reputation are droped completly

[2018-08-21 13:08] canitzp commented on #319
If the server is setupped correctly, it works. server and client need ServerSync setted to true and the server quests should be in the default folder

[2018-08-21 13:08] #319 closed, assigned to nobody

[2018-08-21 13:09] canitzp commented on #322
This should be fixed in one of the latest versions

[2018-08-21 13:09] #322 closed, assigned to nobody

[2018-08-21 13:10] canitzp commented on #327
to old, won't fix

[2018-08-21 13:10] #327 closed, assigned to nobody

[2018-08-21 13:11] canitzp commented on #328
as far as i know, the gate never had a gui at all, or it just was removed

[2018-08-21 13:11] #328 closed, assigned to nobody

[2018-08-21 13:11] #329 closed, assigned to nobody

[2018-08-21 21:58] MrAsare opened #396 "QDS crash"
Ive tried using a hopper and an itemduct to submit items into the QDS.
[crash-2018-08-21_15.56.49-server.txt](https://github.com/lorddusk/HQM/files/2308198/crash-2018-08-21_15.56.49-server.txt)
There is the crash report for the hopper.
This makes it so that i cant enter the world anymore until i remove the hopper through NBT editor as i get the same crash every time. I had the hopper on top of the

[2018-08-22 05:40] canitzp commented on #396
It would be cool if you provide the quest and the item you tried to pump into. I have fixed this specific issue, but i want to test it more

[2018-08-22 07:14] MrAsare commented on #396
The quest required item conduits from ender io to be submitted and consumed, 100 required.  Just tried on a vanilla mc chest also and i got this error which required 1 chest to be submitted.  [crash-2018-08-22_09.23.14-server.txt](https://github.com/lorddusk/HQM/files/2309304/crash-2018-08-22_09.23.14-server.txt)
 Also I cant seem to submit anything into the qds for any qds/consume task when I try

[2018-08-22 07:53] canitzp commented on #396
Ok. I tested it a lot and also reimplemented the liquid parts of the qds. After some more test I upload 5.3.3 as beta to curseforge. Any other suggestions for me?

[2018-08-22 07:58] MrAsare commented on #396
Yes just a quick thing, does right clicking on a QDS by hand unbind the quest from it becauuse i can set a quest with the book and when i right click with my hand after it says that i havent bound a quest to it even though the texture shows the mushroom and it said i had binded it. Thanks

[2018-08-22 07:59] canitzp commented on #396
The QDS has a lot of bugs. I notice you described behavior a lot, but i have no idea why it's happening

[2018-08-22 08:04] MrAsare commented on #396
Last thing i noticed a couple of days ago. When i set a limit for quest group retrieval and then exit out of the book and go back the book the group retrieval limit is set back to zero. Was this a thing to stop the lag that happened after you put the limit?? thanks a lot for the help

[2018-08-22 10:25] canitzp commented on #396
Ok I now tested it much more, but I still can't figure out why the hell the QDS needs a double bind to be bind correctly. I now only indicate it better, so that if the bound is lost, also the texture changes back to th non bound version.
@MrAsare are you around? I want to give you a version to test the given bugs

[2018-08-23 01:09] MrAsare commented on #396
I am now i was travelling all day, sorry.

[2018-08-23 05:06] canitzp commented on #396
@MrAsare here it is: http://puu.sh/BiS8H/ff2ecfc3b8.jar

[2018-08-23 06:49] MrAsare commented on #396
Alright ill fiddle around with it and see if i find anything.

[2018-08-23 10:24] canitzp commented on #396
have you found out something?

[2018-08-24 09:47] MrAsare commented on #396
To bind a quest to the qds you need to right click twice. If you right click once the texture changes but right clicking by fist will say its not binded until you try again.

[2018-08-24 09:49] canitzp commented on #396
I know, I told you this, but I can't fix it

[2018-08-24 09:53] MrAsare commented on #396
I cant seem to submit liquids but items are submitting perfectly with no crashes.

[2018-08-24 09:58] MrAsare commented on #396
Change task button doesn't seem to work either, i just end up deleting and making a new one.

[2018-08-24 10:10] MrAsare commented on #396
Game just crashed when submitting a chest on a consume task. It worked before on its own but when i had a consume task requiring water, liquid tritium and chests, submitting the chest gave this
[crash-2018-08-24_11.06.58-server.txt](https://github.com/lorddusk/HQM/files/2317922/crash-2018-08-24_11.06.58-server.txt)
Console gave this idk if this adds anything "[11:07:17] [Server thread/INFO] [FML]:

[2018-08-27 09:55] canitzp commented on #396
Ok, thank you for the investigation. I don't know when I have time for fixing this bug again, but when it happend then I give you a new test version

[2018-08-31 00:49] MajRatbag commented on #368
Managed to get it to work for a while and was really excited to have hqm working again but the quests vanished next time I started the client and the connection to the server is terminated when exiting the quest book.
I have tried copying just the "default" folder from hqm config to the server and setting server sync to true, have tried copying the whole hqm config to server and to client but no l

[2018-08-31 05:06] canitzp commented on #368
Do you have Minecraft version 1.12.2. with the latest HQM version installed? Keep in mind that I updated HQM last week

[2018-08-31 07:37] MajRatbag commented on #368
Yep latest version with 1.12.2 double checked that today before posting

[2018-08-31 09:00] canitzp commented on #368
I'll test client server sync and interaction when I get time. Probably next week

[2018-08-31 09:05] MajRatbag commented on #368
Cool, thanks.

[2018-09-02 18:33] Orimbo30FPS commented on #396
I have a problem with the quests:
I go into singleplayer, I open the book of quests, I go out by pressing Esc
The result comes out of the game with an error: A fatal error has occurred, this connection is terminated
Information about the crush here: https://gist.github.com/Orimbo30FPS/1d67a6795f1e5acfdaf489827cb4c696

[2018-09-16 11:52] dancc7t opened #397 "Crash while loading world"
Hello, one player of my pack has reported me having a crash while loading world, i asked him for the log and i saw hqm was causing it, once he removed hqm from the mods folder he could load the world again. I myself did not have this kind of problem, but i am afraid other players might have the same problem so i created this issue to know what might be the cause of this

Here is the [debug.log](ht

[2018-09-17 07:37] canitzp commented on #397
I see a lot of these: ```[13:29:24] [main/FATAL] [net.minecraft.client.Minecraft]: Error executing task java.util.concurrent.ExecutionException: java.lang.NullPointerException 	at java.util.concurrent.FutureTask.report(Unknown Source) ~[?:1.8.0_181] 	at java.util.concurrent.FutureTask.get(Unknown Source) ~[?:1.8.0_181] 	at net.minecraft.util.Util.func_181617_a(SourceFile:47) [h.class:?] 	at net.mi

[2018-09-17 20:24] 4rz0 commented on #397
I started the pack without Stackable and with HQM enabled.
Now the error mentioned above changed to the following:
https://www.hastebin.com/hihegapahe.rb

[2018-09-17 20:29] canitzp commented on #397
@4rz0 The stacktrace you post is only the half truth, for the other half I need a complete crash report (recommendation) or log file.
@danikk14g You cross reference a issue with Stackable. I never said that is has something todo with it. The log snippet I copied from your log file references StorageNetwork as issue source

[2018-09-18 09:32] dancc7t commented on #397
yes, i was wrong about that, but the problem is that i cannot reproduce the issue neither on my local instance or the version i downloaded from the pack, which makes it difficult to me to find the source of the problem.

[2018-09-22 17:44] PigguJones opened #398 "HQM crashes world when book is closed or quest is chosen"
I have been working on my HQM book for about 21 hours and out of the blue every time I close the book i get "A fatal error has occurred, this connection is terminated". It doesn't crash the client it just crashes the world. It worked before I added a chapter dealing with ProjectE so I tried removing the ProjectE chapter but it still crashes the world. If I try clicking on the first quest in chapte

[2018-09-22 18:11] canitzp commented on #398
your HQM version is probably out of date.

[2018-09-22 18:49] PigguJones commented on #398
It is version HQM-1.12.2-5.3.2 I just installed the mod on Wednesday and it was working perfectly till yesterday at about 2AM when i closed MC to do something and opened it again. From that point on it crashes the world whenever i try to close the book or select a quest. I have tried removing the quests i added closest to the crashing point but it didn't help in the slightest.

[2018-09-22 18:56] PigguJones commented on #398
if you would like i could upload the modpack and you could test for yourself

[2018-09-22 20:28] MrsRatbag commented on #368
got bored and did some more testing. It happens as soon as we restart the server. Works fine, restart server... all quests gone but the default folder in the config still shows the quests are there. Deleting world file makes the quests show up again in the new world  but again, as soon as you restart the server the quests are gone.

[2018-09-23 09:11] #397 closed, assigned to nobody

[2018-09-26 09:35] noobanidus commented on #398
Your quest data is too long. [These are the changes I've made](https://gist.github.com/duely/bc3c597af72db01693315264fef75618) to my local copy of HQM to get it working as well as a few other things. I'll try to set up a pull request at some point.

The issue seems to stem from the fact that the UTF-8 encoding function validates that the length of the resulting string is less than 3 bytes(?? my Ja

[2018-10-01 06:27] canitzp commented on #398
@duely If these changes are working and fixing this bug, then pls do a proper pull request, so that everyone can use the improvements

[2018-10-01 15:30] PigguJones commented on #398
@duely How do i make those changes to my version. I really want to be able to work on my pack

[2018-10-01 21:30] mindlessmrwaesome opened #399 "[Version 1.12-5.3.2] Opening quests crashes game or "fatal error"s world"
One day while making my modpack, I was looking through the rewards for a new quest when I saw an "invalid item" in the reward item picker. Me being the mindless individual I am, I clicked on it. It crashed my game. I rebooted my modpack and tried opening the quest to remove the reward... crashed the game. I rebooted my modpack and deleted the broken quest. Crashed my game. Thinking it would be fix

[2018-10-03 04:55] Liumingxun opened #400 "[1.12-5.3.2]A ERROR of Location Task"
[https://gist.github.com/Liumingxun/0753d603d5ed25d01219ef6bf4c61559](url)
HQM Version:1.12-5.3.2
Forge Version:14.23.4.2739
Detail: I will make a Modpack ,and i need a location task ,so i make it.
The relevant JSON text is as follows：
`{"uuid":"89c91fb3-435e-40a2-93df-edc70d0264ea","name":"XXXXXXXXXX","x":180,"y":113,"icon":{"id":"minecraft:obsidian"},"tasks":[{"type":"LOCATION","locations":[{"na

[2018-10-04 03:19] noobanidus commented on #398
@canitzp Apologies for the delay, I was away. I've issued the pull request.

@PigguJones I've issued a pull request so, if the changes are suitable and there's a new release, hopefully you can get it working. Otherwise, you can clone the branch of my fork and compile it yourself.

[2018-10-04 05:08] #398 closed, assigned to nobody

[2018-10-04 05:13] canitzp commented on #398
I really really thank you @duely that you took time and fiddle out this fix. If you have time and the mood the help the team of HQM for further developement, than we take your help with great joy :)

[2018-10-04 05:18] #394 closed, assigned to nobody

[2018-10-04 05:20] canitzp commented on #399
Fixed in version 5.3.4, which should be out soon on curseforge

[2018-10-04 05:20] #399 closed, assigned to nobody

[2018-10-04 05:44] #396 closed, assigned to nobody

[2018-10-04 05:44] #400 closed, assigned to nobody

[2018-10-04 06:17] noobanidus commented on #398
@canitzp No problems -- it was somewhat selfish of me because I'm working on a modpack with a large quest book and had to sort out the issue as soon as I came across it. I'm happy to help with whatever else I can. Most of the tweaks I've been making are just for convenience sake and probably aren't programmed properly.

[2018-10-04 08:39] canitzp commented on #398
@duely Since you're a modpack creator and you have something to improve, than it is probably a improvement for other modpack creator too. Here is a invitation link to our discord, because it is the easiest way to communicate between authors. https://discord.gg/7QRxJMn

[2018-10-06 03:50] noobanidus opened #402 "Removed items used as requirements/rewards causes crash on load"
It's not exactly something that happens often, but if, when updating or removing a mod, you happen to also remove an item registered by that mod which is used as a quest reward, it causes a crash whenever you load a save.

Pretty rare occurrence, more common when tweaking mod packs. Will submit a pull request to fix it.

[2018-10-08 07:44] #402 closed, assigned to nobody

[2018-10-20 12:56] jahtim commented on #394
If you can make a merge request or just put your code in your branch ? @Llorx

[2018-10-20 13:14] jahtim commented on #394
Umm, I found BlayzerQ's Backport from 1.9.4 into 1.7.10, I gonna try it.

[https://github.com/BlayzerQ/HQM/commit/dc6737f6d48928c86913a2a40333d8260df31180](url)

[2018-10-24 05:39] canitzp commented on #393
?

[2018-10-24 05:40] canitzp commented on #388
?

[2018-10-24 06:03] astetyn commented on #393
I was using the latest version and no error has been on server or client.When I checked the data file of the world, the nickname had party with some number next to it, but that party didnt exist on the server side.

[2018-10-25 18:54] soraphis opened #406 "Easier Edit Mode"
https://github.com/lorddusk/HQM/blob/1.12/src/main/java/hardcorequesting/quests/task/QuestTaskItems.java#L234

i'm creating a questpack, and most of the quests are detection quests.
it's extremely tedious to switch through the ITEM and NORMAL tools all the time, this could be easier:

Double-Click (in NORMAL mode) to open the ItemTask View:

<details>
<summary>Proposed Code Changes (click me)</sum

[2018-11-05 20:22] SirOMGitsYOU opened #407 "Crashing when trying to create a team."
Using my custom modpack, after trying to create a party the book won't create a party and trying to view the party list, the game just straight up crashes to desktop. I have got one party to be created successfully, however, the server will not allow any more to be created. and just crashes anyone looking at party list.

Here's the crash report.
https://gist.github.com/SirOMGitsYOU/de7ca2c96d06d26

[2018-11-07 08:33] noobanidus commented on #406
It would be easier if you forked a copy of this repository, applied your changes and then issued a pull request.

[2018-11-13 11:22] lord900 opened #409 "WHERE DOES HQM SAVES THE QUESTS AND MODIFICATIONS???HELP!!!"
I'm on a single player game and I cannot get the hqm to save anything. I enter the world do all the quests, and click save all. I save and exit.

One I get back in the game, I open the HQM book....and all my work is gone. WHY?????? Where did it save it to? do I have to drag any files into the config folder?

ps. I am on Twitch Curse launcher, created my own custom profile.

[2018-12-01 05:55] MrsRatbag commented on #368
So, it's been more than a year now since we posted the original comment. I've tried it again after every time you've updated it and still no luck. I've always had success with HQM (since 1.6.4) and would REALLY prefer to use HQM over better questing because to me its much more user friendly. (bq is very clunky to use from a quest writing perspective) But at this point I guess I'll just have to use

[2018-12-19 06:31] canitzp commented on #409
The quests are normally saved inside the config folder. There is a condif folder for "hqm" and inside it there is a "default" folder which contains all the current quests.
I don't know if Twitch Launcher is doing something wrong there, but if you're in editing mode and do everything correctly and click "save all" iside the quest book, then everything should be saved.

Sorry for the late reply

[2018-12-19 07:20] #407 closed, assigned to nobody

[2018-12-19 07:22] canitzp commented on #406
duely is right. Please open a proper pull request for this, since it seems to me that you have the knowledge for it. It is just easier for all of us @soraphis

[2018-12-19 07:24] canitzp commented on #393
I just fixed an issue with a similar description and a proper crash report. #407
If the next version (5.3.5) doesn't fix it, then please reopen this issue or create a new one

[2018-12-19 07:24] #393 closed, assigned to nobody

[2018-12-19 07:25] canitzp commented on #388
Since I looked up the world deletion code, to find out that it doesn't work at all since the 1.8 ports, you're on an outdated version

[2018-12-19 07:25] #388 closed, assigned to nobody

[2018-12-19 07:27] canitzp commented on #372
The crash is fixed in the upcominf 5.3.5 release of HQM for 1.12.2.
I can't test the invite problems for now, so I keep the issue open

[2018-12-19 07:31] canitzp commented on #368
I don't know if I get some time, but I definetly want to test HQM with a proper modpack setup soon. I for myself have absolutly no time to play minecraft, but if you would have time to test everything, then you could provide the modpack and the quests and I put everything together on a server. This would be the first field test of HQM that I do
@MrsRatbag

[2018-12-19 07:32] canitzp commented on #362
I fixed gates more or less some time ago with one of the already released versions (1.12.2 only)

[2018-12-19 07:32] #362 closed, assigned to nobody

[2018-12-19 07:33] #341 closed, assigned to nobody

[2018-12-19 07:34] canitzp commented on #347
1.7.10 is outdated, sorry

[2018-12-19 07:34] #347 closed, assigned to nobody

[2018-12-19 08:10] MrsRatbag commented on #368
I can probably do that. I don't have as much time as I used to but I've already got the modpack(fairly large skyblock), all I have to do is bung HQM back in and write some quests. My partner (MajRatbag) and I both play and can give everything a thorough test.

Is there anything specific you need me to put in the quests for testing purposes? (Amount, type, etc?)

[2018-12-19 08:15] canitzp commented on #368
@MrsRatbag No, just test every type. maybe one time single and one time as a party or so. If you give me the quests and the modpack, then I can host a server for you, also longer than the testing period as a little reward for you

[2018-12-19 08:18] canitzp commented on #368
@MrsRatbag @MajRatbag Do you have discord accounts or so? it is easier to communicate through them, instead of here. Especally cause I want to make the "field test" available for everyone who wants

[2018-12-19 08:19] MrsRatbag commented on #368
Yep we have discord (same name)

[2018-12-19 08:22] canitzp commented on #368
then please join here: https://discord.gg/5t2qTc

[2018-12-21 11:54] canitzp commented on #372
Parties are working in 5.4.0 (eta feb next year)

[2018-12-21 11:54] #372 closed, assigned to nobody

[2018-12-21 11:55] #355 closed, assigned to nobody

[2018-12-21 11:57] #339 closed, assigned to nobody

[2018-12-21 11:57] canitzp commented on #337
server side syncing is fixed in 5.4.0 (eta feb next year)

[2018-12-21 11:57] #337 closed, assigned to nobody

[2018-12-21 11:58] canitzp commented on #324
teams and parties are fixed in 5.4.0 (eta feb next year)

[2018-12-21 11:58] #324 closed, assigned to way2muchnoise

[2018-12-21 11:58] canitzp commented on #321
fixed in 5.4.0 (eta feb next year)

[2018-12-21 11:58] #321 closed, assigned to nobody

[2018-12-21 11:59] #293 closed, assigned to nobody

[2018-12-21 12:00] #284 closed, assigned to lorddusk

[2018-12-21 12:00] #275 closed, assigned to canitzp

[2018-12-21 12:00] #185 closed, assigned to canitzp

[2018-12-21 12:45] ThomasAunvik commented on #293
F

[2018-12-21 12:49] canitzp commented on #293
This isn't a real issue, since the book looks like this since it existed. We can change the icon, if we get a suitable one, but it isn't a important feature.

[2018-12-21 13:28] ThomasAunvik commented on #293
One reason could be alpha values on the border, for example if the outer alpha is between 0 and 1.

[2018-12-22 10:45] noobanidus opened #414 ""Next page" or "scroll bar" on item selection screen"
Literally creating this as a reminder for myself as this is something I've been meaning to look into and potentially implement.

[2018-12-23 09:51] #409 closed, assigned to nobody

[2018-12-23 09:54] #385 closed, assigned to nobody

[2018-12-23 09:59] canitzp commented on #368
I think we can close this now, since our field test figured out what caused this and I fixed it

[2018-12-23 09:59] #368 closed, assigned to nobody

[2018-12-23 17:08] canitzp commented on #333
Rewards are getting removed in the upcoming versions, since its sense and use arent worth keeping it

[2018-12-23 17:09] #333 closed, assigned to nobody

[2018-12-23 17:10] canitzp commented on #332
This happens if a different mod overwrites the default spawn items. This isn't uncommon for Modpacks. The feature works as intended in the latest versions

[2018-12-23 17:10] #332 closed, assigned to nobody

[2018-12-23 17:12] #316 closed, assigned to nobody

[2018-12-23 17:12] canitzp commented on #305
@Funwayguy any updates?

[2018-12-23 17:20] canitzp commented on #135
implemented in 5.4.0

[2018-12-23 17:20] #135 closed

[2018-12-23 17:21] #82 closed

[2018-12-23 17:32] canitzp opened #416 "[Request] Add button to OP Quest Book to complete or uncomplete the opened task"

[2018-12-24 01:31] noobanidus commented on #416
Alternately shift-clicking on the task itself in the OP quest book might be easier as it doesn't require a button to be rendered on the screen and the mouse event would fire directly on the task itself. (Similarly to how you shift-click on a quest)

[2018-12-24 05:30] noobanidus commented on #305
Does anyone know which adapters were missing?

[2018-12-25 04:05] noobanidus commented on #233
@royalcw Is this still happening for you with the latest version released?

[2018-12-25 05:34] SupremeMarshal opened #419 "New Task: Block Break (specifically for ores), Block Place"
Detect if the player has gathered the items himself. The detection task is not suited for what I want to achieve in my server. I would like to have the player gathering the ressources himself instead of another player giving the items to him.

[2018-12-25 05:41] SupremeMarshal opened #420 "[Request] Location task for Y axis only."
I want to have a quest with a task that ask to go to down to -1000Y for example (ignore the X and Z). It can be set for detecting the player X and ignore Y and Z as well, ect. If this is possible, it will be a great addition for my server that is to dig to the Earth's core. This can also be a great addition for a server with sky islands and having a quest that ask to go to the sky.

[2018-12-25 05:42] noobanidus commented on #419
I'm not sure how viable this is. It would really depend on the types of items that you're talking about, and it would require a LOT of custom coding as I don't believe there's anything in Minecraft that already provides support for this.

- For ores, you would need to hook into the block break event and then determine if the player is the one who broke the block, and then determine what the drops

[2018-12-25 05:43] noobanidus commented on #420
I'm not yet sure if I'm going to merge my biome/biome type tasks into the general location task, but I don't see any problem with setting additional flag for the location task which limits it to only being the Y value. Of all of the values, the Y value is the most recently.

To be honest, the location task itself is only really useful for quest sets that are taking place in a custom map.

[2018-12-25 05:56] noobanidus opened #421 "[Request] Improve Location tasks to be more flexible"
As it stands, specifying the direct X, Y, Z co-ordinates, for the most part, make the location task rather useless in worlds in general unless they are using a specific pre-made map.

Variants on this:
- Visiting a specific, specified biome.
- Visiting a biome that contains 1 or more specified types (HOT, SNOWY, etc)
- Visiting a specific Y location: going to the highest/lowest point available is

[2018-12-25 05:57] noobanidus commented on #420
I've merged this into #421.

[2018-12-25 05:57] #420 closed, assigned to noobanidus

[2018-12-25 05:58] noobanidus commented on #419
After further consultation, SupremeMarshal is specifically interested in a block break event where the player is the one responsible for breaking the block.

[2018-12-25 11:06] noobanidus commented on #367
This is a year old and for a version of MC HQM is not in active development for.

[2018-12-25 11:06] #367 closed, assigned to nobody

[2018-12-25 11:08] noobanidus commented on #331
There's no active development for HQM in 1.11.

[2018-12-25 11:08] #331 closed, assigned to nobody

[2018-12-25 11:09] noobanidus commented on #340
1.11 is no longer being actively developed for HQM.

[2018-12-25 11:09] #340 closed, assigned to nobody

[2018-12-25 11:09] noobanidus commented on #338
HQM is no longer being actively developed for 1.11. If the bug still occurs in 1.12.2, please file a new report.

[2018-12-25 11:09] #338 closed, assigned to nobody

[2018-12-25 11:10] noobanidus commented on #323
HQM is no longer under active development for 1.10. If the issue still occurs in 1.12.2, please open a new issue.

[2018-12-25 11:10] #323 closed, assigned to nobody

[2018-12-25 11:11] noobanidus commented on #320
HQM is no longer under active development for 1.10. If the issue still occurs in 1.12.2, please open a new issue.

[2018-12-25 11:11] #320 closed, assigned to nobody

[2018-12-25 11:12] noobanidus commented on #314
HQM is no longer under active development for 1.10. If the issue still occurs in 1.12.2, please open a new issue.

[2018-12-25 11:12] #314 closed, assigned to nobody

[2018-12-25 11:12] noobanidus commented on #313
Presumably this was fixed. HQM is no longer under active development for 1.11. If the issue still occurs in 1.12.2, please open a new issue.

[2018-12-25 11:13] #313 closed, assigned to canitzp

[2018-12-25 11:15] noobanidus commented on #310
Moved to a [Wiki](https://github.com/lorddusk/HQM/wiki/Migration-guide-from-alpha2----alpha3-for-1.11.2-and-alpha3----alpha4-for-1.10.2-%23310) page.

[2018-12-25 11:15] #310 closed, assigned to nobody

[2018-12-25 11:16] noobanidus commented on #233
HQM is no longer actively developed for 1.11. While there was a comment over a year ago indicating this issue still occurred, please open a new issue if that is indeed the case.

[2018-12-25 11:16] #233 closed, assigned to nobody

[2018-12-25 11:17] noobanidus commented on #230
If this is still an issue for 1.11.2, please open a new issue, as HQM is no longer under development for this version of Minecraft.

[2018-12-25 11:17] #230 closed, assigned to nobody

[2018-12-25 11:18] noobanidus commented on #263
@canitzp You added this to the 5.4.0 milestone. Is it still an issue?

[2018-12-25 11:19] noobanidus commented on #419
See #151.

[2018-12-25 11:20] noobanidus commented on #151
See #419 for more thoughts.

[2018-12-25 11:22] noobanidus commented on #369
While this is a really great idea, I think it's beyond the scope of the mod. Compatibility with another mod that includes Text-to-Speech is certainly an option though.

[2018-12-25 11:22] #369 closed, assigned to nobody

[2018-12-25 11:23] noobanidus commented on #24
If this is still an issue for 1.11.2, please open a new issue, as HQM is no longer under development for this version of Minecraft.

[2018-12-25 11:25] noobanidus commented on #148
Dimensional location tasks will hopefully be coming with 5.4. See #421.

[2018-12-25 11:28] noobanidus commented on #77
See #421.

[2018-12-25 23:55] #374 closed, assigned to nobody

[2018-12-26 21:35] noobanidus opened #423 "Review all network messaging to ensure UTF conversion is split into chunks"
This should happen for anything that has the potential to be long, specifically loot bags being sent via the QuestLine data.

The methods for splitting the data should get abstracted out and it should be done as seamlessly as possible.

[2018-12-26 22:14] canitzp commented on #423
i rewrite the network traffic to use nbt while normal game flow. For Quest sync from server to client, I would probably use Base64 encoded jsons, so that they length is smaller than regular json

[2018-12-27 00:13] noobanidus commented on #423
I thin kit's currently just using a straight string version of JSON for the QUest sync.

[2018-12-27 09:29] canitzp commented on #423
Yeah currently implementation is a bit shitty, cause a too long string overflows the network capability. So we could send it as NBT or encoded to have a shorter string

[2018-12-28 06:15] noobanidus opened #424 "Allow specific Tasks to specify that they can be "manually completed""
Currently (or at least it was the case when I wrote the original Advancement Task), the "canManuallyComplete" (or whatever it's called) function was hard-coded to specific Tasks.

I've already coded this, I just need to merge it into a branch and push it. This ticket is a reminder for me to do so.

[2018-12-28 06:17] noobanidus commented on #423
In the meantime I'll just use the same approach I did to fixing the bug with the quest sizes that we have months ago... although I might clean up some of the code as there's a fair amount of re-use. Honestly, I think that must've been one of my first ACTUAL contributions to anything Minecraft mod-related.

[2018-12-31 09:26] Heyo13579 opened #426 "Quests no syncing with 1.12.2 server (already tried #249 #368 #330 #319)"
im trying to create a server with hqm for 1.12.2 but no matter what i try whether it be changing configs making sure both files are exactly the same reloading the configs forcing a hqm config sync none of them have worked it still shows 0 quests the only thing that has loaded properly is the cover image

[2018-12-31 10:52] noobanidus commented on #426
This is potentially an issue that I started experiencing just before Christmas but haven't had the time to fully look into yet. I'll try to get around to it tomorrow if I can finish beta testing something else.

[2018-12-31 16:21] canitzp commented on #426
The test server version should work fine, but this isn't released yet

[2019-01-01 10:03] Heyo13579 commented on #426
any idea on when it will be release?
id like to launch my server within the month but cant till this issue is resolved

[2019-01-01 10:56] canitzp commented on #426
When all major bugs are fixed and the field test has ended, so 1 or 2 Months

[2019-01-02 08:40] Heyo13579 commented on #426
does it work on any of the previous versions? can i revert to an old one to solve the issue?
i cant wait that long to launch the server

[2019-01-02 13:57] canitzp commented on #426
The bug exist a long time, so probably 1.7 has a working version, sorry

[2019-01-05 01:10] noobanidus opened #427 "Resolve 2 issues related to Advancement tasks"
I was almost positive this had been requested somewhere but I can't find the issue for it, so I'm making one so that I can reference it in the commit message.

[2019-01-05 10:46] #424 closed, assigned to noobanidus

[2019-01-08 06:59] canitzp opened #429 "[Request] Double click on quest or quest lines to open then"
I noticed that this isn't a thing, but it would be so much more intuitive to use

[2019-01-09 10:08] noobanidus commented on #427
This is technically resolved but there are two remaining issues.

* Better handling/placement of the button for adding a new task (it's off the page)
* Better handling of non-existed advancements. Resetting to null may be more desirable than simply crashing completely. Alternately, storing the text name but not trying to find the advancement itself.

[2019-01-11 12:11] #427 closed, assigned to noobanidus

[2019-01-12 23:35] noobanidus opened #430 "Better handling of reward/requirement tooltips"

[2019-01-13 21:21] SupremeMarshal opened #431 "[Issue-Suggestion] Crafting quest using Anvil"
I suggest to add the anvil recipes in the crafting task. I have an item that can be crafted using the anvil. This will also allow to add quest that require to enchant items.

[2019-01-14 07:26] noobanidus opened #432 "Handling of END and HOME keys, direct cursor placement with mouse during text editing"

[2019-01-18 00:48] noobanidus opened #433 "New task: Other quest is completed"
For creation, rendered the itemstack of the other quest and the text of the other quest. When clicking "change icon", "change text" instead trigger the quest to be set to the quest that is currently marked with the "select quest" tool.

[2019-01-19 13:56] noobanidus opened #434 "Select quest edit mode should visually note which quest is selected"

[2019-01-19 23:16] Heyo13579 commented on #426
so was was looking into the mods code and it looks like you have the server and client proxies set up as Boolean and then have the other classes calling to it (correct me if i'm wrong i'm still somewhat new to java) wouldn't it be more stable to set all server side actions to one package/class (example below not great but gets my point across) i understand that it wouldn't be as compact but it be

[2019-01-20 02:18] noobanidus commented on #421
Temporary work-around: using [Triumph (without removing Vanilla advancements)](https://minecraft.curseforge.com/projects/triumph) allows you to create manual advancements that can provide triggers for most of the original requested modification.

As such, this won't be as high a priority moving forward as say, the break block/place block advancements.

[2019-01-20 02:39] #434 closed, assigned to nobody

[2019-01-20 07:51] #433 closed, assigned to noobanidus

[2019-01-20 09:38] noobanidus commented on #429
Single-click on quest already does this.

[2019-01-20 12:07] #429 closed, assigned to nobody

[2019-01-20 12:17] noobanidus commented on #406
All right, I've had the time to sit down and take another look at this. I've accepted the first example, although I've modified it significantly as the item requirement is really irrelevant: if it's an actual double click, it's this one that we care about, so it's just the timing that we need. (And switched to player.ticksExisted).

However, it could do well to be extended to cover quest rewards a

[2019-01-20 12:17] #406 closed, assigned to nobody

[2019-01-20 23:26] #432 closed, assigned to nobody

[2019-01-21 04:49] noobanidus commented on #376
Does this still happen?

[2019-01-21 06:36] #431 closed, assigned to nobody

[2019-01-21 12:46] noobanidus commented on #376
Yes, this is still an issue. It appears as though the parent requirement is only being written is useModifiedParentRequirement=true. That value is set to true if you manually update the requirements with the tool, but it's not saved to the quest file (as it shouldn't be, there's no need for it). However, when the parentRequirement is read in, the new auto-save doesn't save it to the file and effec

[2019-01-21 13:32] #376 closed, assigned to nobody

[2019-01-21 13:33] noobanidus commented on #419
This was resolved in 1406b7e but I flagged the wrong issue. Oops!

[2019-01-21 13:33] #419 closed, assigned to noobanidus

[2019-01-21 13:34] noobanidus commented on #336
As noted above, it's possible to use a /command to change the world border as a result of a quest being completed. I think this would be feature creep as the possibility already exists.

[2019-01-21 13:34] #336 closed, assigned to nobody

[2019-01-21 13:41] noobanidus commented on #263
I don't seem to be ale to reproduce this issue. The code itself was changed recently when @canitzp did a lot of work on packets. I'm going to close it for now. If it recurs it can be reported again, hopefully. I tried this with a couple of loot bags and a non-0 value and didn't have the issue.

[2019-01-21 13:41] #263 closed, assigned to canitzp

[2019-01-21 13:43] noobanidus commented on #361
The reward bag system needs to be overhauled badly. I'm close to suggesting that it would be better to remove them and encourage people to use a ZenScript-based system.

[2019-01-21 13:47] noobanidus commented on #305
After discussion with @Funwayguy this isn't really feasible at the minute. Perhaps after the rewrite.

[2019-01-21 13:48] #229 closed, assigned to nobody

[2019-01-21 13:50] noobanidus commented on #69
This still occasioanlly happens in 1.12.2.

[2019-01-21 13:51] noobanidus commented on #31
The change to specifying which items can be claimed by every team member versus only 1 team member is coming in the rewrite.

[2019-01-21 13:54] noobanidus commented on #197
Home, end are implemented. Up and down are somewhat less feasible. Potentially holding control/shift to move 5/10 spaces instead would be an option. Otherwise I'd need to delve quite deeply into the math of it. (No setCursorPositionAtX/Y).

[2019-01-21 13:54] #197 closed, assigned to nobody

[2019-01-21 13:56] #305 closed, assigned to nobody

[2019-01-21 13:58] noobanidus commented on #110
Honestly, I'm inclined not to do this at all. The whole point of the quest system is the interaction with the book. Also, reputation is... annoying.

[2019-01-21 13:58] #110 closed

[2019-01-21 14:00] noobanidus commented on #157
This may be an option especially with Anvil-based "crafting" doing subsets of enchantments. Darkhax has some LGPL-licensed code for checking for subsets of NBT, so we should be able to uses that.

[2019-01-21 14:01] noobanidus commented on #147
Merging into #430.

[2019-01-21 14:01] #147 closed

[2019-01-21 14:09] #175 closed, assigned to nobody

[2019-01-21 14:13] noobanidus commented on #426
This will be fixed in the rewrite/next release.

[2019-01-21 14:13] #426 closed, assigned to nobody

[2019-01-22 01:23] noobanidus opened #435 "Synchronisation of book logo"

[2019-01-22 03:45] noobanidus opened #436 "Adding a new parent to an "all required" task could cause issues"
If the code was previously set to the maximum number of parents and thus the boolean function has modifiednumber of parents would return false, but a new parent is then added, then the boolean function would return true, potentially. I haven't checked the code, this is just a note to self.

[2019-01-22 10:35] #423 closed, assigned to noobanidus

[2019-01-22 11:35] noobanidus commented on #435
In mind of the rewrite, no update for duct_tape.

[2019-01-22 11:35] #435 closed, assigned to nobody

[2019-01-22 12:20] noobanidus commented on #165
This needs a reformatting of the quest information to include keys or alternately some separation of actual value of the description and the visual, which currently can't happen.

[2019-01-22 13:04] noobanidus opened #437 "Quest Sets appearing permanently completed"
This could be corruption on my part.

[2019-01-23 01:34] noobanidus commented on #69
Okay, this is completely reproducible in 1.12.2 and the latest version of HQM duct_tape branch.

[2019-01-23 01:58] #69 closed

[2019-01-23 01:59] #436 closed, assigned to nobody

[2019-01-23 07:00] noobanidus opened #438 "Better handling for deleted advancements & items"

[2019-01-23 07:05] noobanidus opened #439 "Can't open quest set with move tool"

[2019-01-23 23:53] noobanidus commented on #439
#406

[2019-01-24 00:50] noobanidus opened #440 "Some UTF-8 strings still too long"

[2019-01-24 00:59] noobanidus opened #441 "Double-clicking introduced a lot of issues, potentially revert/fix"

[2019-01-24 01:48] noobanidus opened #442 "Opening a chest with the quest book opens the quest book instead"

[2019-01-24 02:00] noobanidus opened #443 "Required parents potentially hides all links between quests"

[2019-01-24 02:01] noobanidus commented on #443
They're displayed in edit mode but not in normal mode?

[2019-01-24 02:28] noobanidus commented on #443
Mouseover says "unlocks one quest elsewhere"

[2019-01-24 02:52] noobanidus commented on #443
Going out and into another quest set also seems to properly render them again

[2019-01-24 02:59] noobanidus opened #444 "Switching from Integrated Server with selected quest set to DEdicated Server"
Which ahs a quest set of the same name will result in all single clicks being treated like double clicks.

This is an issue with the double-clcik for quest sets that I added earlier.

[2019-01-24 07:35] #440 closed, assigned to nobody

[2019-01-24 07:35] #444 closed, assigned to nobody

[2019-01-24 07:35] #439 closed, assigned to nobody

[2019-01-24 08:41] #157 closed

[2019-01-24 09:07] #416 closed, assigned to nobody

[2019-01-24 12:45] noobanidus opened #445 "Command rewards should be executed as an operator"

[2019-01-24 13:21] noobanidus opened #446 "Task uncompletion implemented badly by bad programmer"

[2019-01-24 13:28] Funwayguy opened #447 "Change task behaviour difficult to understand"
Using the "Change Task" tool while editing a quest does not appear to make much of a visual indication that anything has changed (even the old task type name is retained). It is also not immediately clear that it is restricted to item based tasks. This restriction also makes it nigh impossible to replace a non-item task in the middle of a task listing without requiring users to delete all subseque

[2019-01-25 00:31] noobanidus commented on #446
Quest needs to be forced to check if it is actually complete or not.

[2019-01-25 00:39] noobanidus commented on #446
Task uncompletion of Taming tasks results in null value being set for tame name.

[2019-01-25 00:54] Funwayguy opened #448 "Advancement task list doesn't scroll"
Having more than 5 or more advancement requirements in a single task causes the list to draw outside the GUI bounds. On smaller screen scales this can also mean they're drawn off screen entirely.

![image](https://user-images.githubusercontent.com/6048596/51718097-7a8d3f00-208f-11e9-8e02-a7c52943c898.png)

[2019-01-25 02:50] noobanidus commented on #446
I'm bad and I should feel bad.

[2019-01-25 02:56] Funwayguy opened #449 "Break Block task doesn't work on many block types"
First noticed when block break tasks failed to detect any rail broken that wasn't in its default orientation (relevant if you want players to collection rails from mineshafts). This extends to many other kinds of blocks that have state dependent functionality and/or no 1-to-1 item block representation. Known affected blocks so far:

- Rails (all kinds) (only default state works)
- Doors (all kinds

[2019-01-25 03:43] #446 closed, assigned to nobody

[2019-01-25 03:43] noobanidus commented on #441
This may have potentially been resolved, I haven't seen issues with it.

[2019-01-25 03:45] noobanidus commented on #447
My current intent is to disable this for the duct_tape release as it serves no purpose other than confusing people. Technically it could be used to completely delete the task in that index and replace it with a new task based on the list, but I'm not sure how feasible that is. I'll look into it.

[2019-01-25 03:47] noobanidus commented on #443
It may not exist if logging into a world directly without being in edit mode. More testing is required in my own modpack.

[2019-01-25 03:49] noobanidus commented on #448
Okay, given that none of the others work like this, this is unfortunately going to be a no-fix-before rewrite as I have no desire to try to implement gui-based code which will be immediately outdated by whatever work canitzp is currently doing.

[2019-01-25 03:50] noobanidus commented on #437
I'm not sure how feasible it would be for whenever the quest book is opened to actually check to make sure that all the quests are completed in a quest set. It would depend on how quest set completion is internally represented.

[2019-01-25 03:51] noobanidus commented on #442
I'm marking this as an actual bug because it's possible to interact with an anvil without having the quest book open if you do so with the quest book in your hand.

[2019-01-25 03:54] noobanidus commented on #438
Potential idea here is for a placeholder block (textures forthcoming) of a ?, which can also be crafted in a grid:

`  -  `
`-   -`
`   / `

It would use iron ingots for the - and a / for the stairs.

When loading a quest book with invalid items or advancements, those would be marked as such with this icon. It could be crafted, placed, broken, etc, and used otherwise as a block in order to complet

[2019-01-25 03:56] noobanidus commented on #438
This is probably outside of the scope of the addon.

[2019-01-25 03:56] noobanidus commented on #445
This requires further testing.

[2019-01-25 04:42] Funwayguy opened #450 "Quest set titles using reserved filenames silently fails to save"
As the title suggests, using one of the Windows reserved filenames as a quest set title causes the entire set to silently fail to save and subsequently go missing entirely once the user reloads their world. This also has a destructive side effect of stopping any attempt to load subsequent sets, even if they're file safe and previously working, resulting even more collateral damage.

This also affe

[2019-01-25 04:54] Funwayguy opened #451 "Using file unsafe symbols in quest set titles corrupts them and others"
Similar to the issue with reserved filenames, using any file unsafe symbol within a quest set title will cause the quest set to silently fail to save and go missing on reload. Collateral damage to subsequent quest sets is also still a massive problem.

As an added side effect to the lack of name sanitation, a user can use slashes within the name to manipulate the folder in which the set is actuall

[2019-01-25 07:09] noobanidus commented on #438
Could be done much simpler in retrospect. As always.

[2019-01-25 07:16] duely commented on #451
While an issue, it's one that's been around for a while. Caveat emptor, basically, seeing as it's usually just pack makers doing these things. We should probably look out for it, but not necessarily do anything before rewrite.

[2019-01-25 07:18] noobanidus commented on #450
PRN
AUX
NUL
COM1, COM2, COM3, COM4, COM5, COM6, COM7, COM8, COM9, COM0
LPT1, LPT2, LPT3, LPT4, LPT5, LPT6, LPT7, LPT8, LPT9, LPT0

[2019-01-25 07:18] noobanidus commented on #450
: (colon)
“ (double quote)
/ (forward slash)
\ (backslash)
| (vertical bar or pipe)
? (question mark)
\* (asterisk)

[2019-01-25 07:21] noobanidus commented on #451
I misunderstood what was involved.

[2019-01-25 09:28] Funwayguy opened #452 "Loading in a previously exported quest set causes strange behaviour"
If a user exports a quest set, renames the local set in-game, then imports back in the previously exported set (so that the names don't conflict) both sets will appear to have loaded in just fine but with duplicate quest UUIDs making for some weird behaviours.

Despite the set saving and loading just fine, many interactions such as edits only seem to apply to the last loaded copy of the duplicate

[2019-01-25 09:35] Funwayguy opened #453 "Identically named quest sets leads to data loss"
Attempting to have two sets named the same leads to one being destroyed upon reloading the world losing all questing data stored within.

As a simple short term solution might I suggest creating an extra "displayName" variable for the GUI and leave the old name as a generated UUID string identifier.

[2019-01-25 11:49] noobanidus opened #454 "Clarify or allow the deletion of non-empty quest sets"

[2019-01-25 11:52] noobanidus commented on #454
No clarification is given that only empty quest sets can be deleted.

[2019-01-25 11:59] noobanidus commented on #452
Some code to ensure the uniqueness of quest IDs might help with this, and where a conflict is found, a new ID generated. Specifically when loading the UUIDs of quests.

[2019-01-25 12:55] noobanidus commented on #449
Progress so far: ![](https://i.imgur.com/HkyYzed.png)

Problem items:
- ~~Redstone and string (or anything that can be placed; Quark glowstone?)~~
- ~~Slabs in the upper slot~~
- ~~Lit furnaces~~
- ~~Redstone devices~~
- Everything else that I didn't test

[2019-01-25 13:21] noobanidus opened #455 "Fix OP book used for specific requirements not resetting quest completion"

[2019-01-25 13:34] Funwayguy commented on #452
Yes but don't forget to account for the IDs stored on the prerequisites. You'll have to go back and remap all those too after a conflicting ID has been changed.

Edit: Possibly on the quest tasks too

[2019-01-25 21:28] Funwayguy commented on #454
As someone who spammed quest sets with 200+ quests, please allow me to delete the whole set in one go. Thankfully for now I can just exploit the other bugs to trigger them to self destruct on their own but that's obviously not an ideal nor intended solution.

[2019-01-25 21:56] Funwayguy opened #456 "Naming a quest set "sets", "reputations" or "bags" crashes next world load with potentially massive data loss"
Because `sets.json`, `reputations.json` and `bags.json` are stored in the same location as the quest sets, attempting to use any one of these three names results in a crash the next time the user attempts to load the world. After the first crash the world will load again however, due to the load order and how HQM destroys all subsequent data when failing to read various files, each of these names

[2019-01-25 22:32] Funwayguy opened #457 "Failing to read JSON files for any reason results in data loss"
This ties into the data loss side of #456 but is its own separate issue due to many other potential causes that could trigger it.

If for any reason the JSON files cannot be read due to access permissions or malformed due to an incorrect/incomplete write (forgetting to flush the buffers, concurrency bug, crash mid write, etc...), all subsequent data will also be lost where writes are still possibl

[2019-01-25 22:58] noobanidus opened #458 "Extend double-clicking to select item to rewards; extend it to the edit menu to select"

[2019-01-25 23:03] noobanidus commented on #449
All of the above work for block place tasks. I'll test the rest now.

[2019-01-25 23:17] noobanidus opened #459 "Using pre-existing OP book upon logging in results "player does note xist", "no permission""
![](https://i.imgur.com/fLj20YA.png)

[2019-01-26 00:34] noobanidus opened #460 "Issues with task listeners being registered multiple times with only 1 valid one"
![](https://i.imgur.com/OBJ5nZS.png)

There's only one quest with block placed tasks in it currently in the quest book.

[2019-01-26 00:40] noobanidus opened #461 "Server sync enabled while editing quests in integrated mode can cause issues"
The quests are not saved into the World and the timestamp of the file in the default folder is not updated properly. Server sync should either be ignored or disabled in integrated mode, or edit mode should have a warning that data loss might ensue with server sync.

[2019-01-26 00:51] noobanidus commented on #449
![](https://i.imgur.com/7dG1gka.png)

Due to an issue with data corruption/server sync mode, coloured beds are not currently working properly. Following need to be dealt with for PLACE tasks only:

- Colored beds
- Banners

I have not begun testing any of these with break events.

As far as I know, everything above affects block place events as well, but I will be re-testing them.

[2019-01-26 03:26] noobanidus commented on #461
Confer #460

[2019-01-26 03:33] noobanidus opened #462 "#406-related: clicking new tasks with create new task button"

[2019-01-26 03:41] noobanidus opened #463 "QDS tile entity for Waila/TUMAT reporting 9% complete for brand new task"

[2019-01-26 04:44] noobanidus commented on #460
![](https://i.imgur.com/2b9ltfH.png)

[2019-01-26 04:49] noobanidus commented on #449
![](https://i.imgur.com/OCRniPn.png)

Okay, signs, leaves and now flowerpots are stumping me again. I'll work on it more later.

[2019-01-27 01:16] noobanidus opened #464 "It's possible to still be in edit mode on a dedicated server"

[2019-01-27 07:24] noobanidus commented on #449
Personal complaint (as this is what I): Faint Amaranth from Astral Sorcery.

[2019-01-31 14:30] jerjerje opened #465 "HQM terminates server connection when book is closed or quest is chosen"
I was trying to set up a server, but everytime I choose a quest or close the questbook I get thrown of the server with the message "A fatal error has occured, the connection is terminated". I have the ServerSnyc confic option enabled and am using the version HQM-1.12.x-5.3.5 (the newest version I could find).
This is the error message I found in the server console:
[Error Message.txt](https://gith

[2019-02-01 15:54] lays24mc opened #466 "ArrayIndexOutOfBoundsException: -2147483635"
Hi,

my Server crashed at a few of time :(. Cann you help me?

HQM-The Journey-4.4.4
Forge 10.13.4.1614
pastebin: https://pastebin.com/k454LdSW

[2019-02-06 11:29] Funwayguy opened #467 "Empty items in bags causes soft lock on world load"
If a user sets one of the items in a bag group to be empty, HQM can save this as null in `bags.json`. Next time that world is attempted to load, `hardcorequesting.io.adapter.BagAdapter` gets stuck and soft locks the game. Manually opening the file and erasing all the NULL entries by hand is the only way to allow the world to load again.

![image](https://user-images.githubusercontent.com/6048596/5

[2019-02-07 00:22] noobanidus commented on #467
Argh why

[2019-02-07 12:23] way2muchnoise commented on #467
The life of `null` and `ItemStack.EMPTY`, long live legacy :D

[2019-02-07 13:26] noobanidus commented on #467
I'm going to try to put some work into HQM over the weekend, was taking a bit of a break from it all. This should be relatively easy to resolve. Alternately we could just drop support for loot bags and make modpack makers use an addon with a better interface? 👯‍♂️

[2019-02-10 04:52] noobanidus commented on #466
Sorry, 1.7.10 is no longer supported.

[2019-02-10 04:52] #466 closed, assigned to nobody

[2019-02-10 04:53] noobanidus commented on #465
Yeah, this issue has been fixed and will be in the next release of HQM, hopefully sometime this month.

[2019-02-10 04:53] #465 closed, assigned to nobody

[2019-02-10 04:55] noobanidus commented on #452
I've decided this isn't something that can be feasibly done before the rewrite.

[2019-02-10 04:56] noobanidus commented on #464
I don't know why this happens. I think it stems from logging into a server with the edit mode value set by the config. I think we should deprecate this config option and have the default to "no edit mode", and require players use /hqm mode.

[2019-02-10 04:58] noobanidus commented on #457
Honestly, I don't understand the system well enough to cope with this. It's an unfortunately side effect and probably a good indicator as to why having regular backups is a thing. It's ideal, but I think it can wait until the rewrite.

[2019-02-10 04:59] noobanidus commented on #460
While a work-around, I think it's sufficient for now until the rewrite.

[2019-02-10 04:59] #460 closed, assigned to nobody

[2019-02-10 13:45] #438 closed, assigned to nobody

[2019-02-10 23:39] noobanidus commented on #467
How did this happen? It's never supposed to be null...

[2019-02-11 03:30] noobanidus opened #468 "Feedback to indicate that a QDS task has been selected"

[2019-02-11 03:54] noobanidus commented on #463
This was an anomaly thankfully, I haven't been able to reproduce it. It's entirely possible I accidentally submitted a bunch of stuff for the test quest without realising it.

[2019-02-11 03:54] #463 closed, assigned to noobanidus

[2019-02-11 05:13] noobanidus opened #469 "Book open event is never actually fired"

[2019-02-11 07:19] #459 closed, assigned to noobanidus

[2019-02-11 07:19] #461 closed, assigned to noobanidus

[2019-02-11 07:19] #462 closed, assigned to noobanidus

[2019-02-11 07:19] #464 closed, assigned to noobanidus

[2019-02-11 07:19] #467 closed, assigned to noobanidus

[2019-02-11 07:19] #468 closed, assigned to noobanidus

[2019-02-11 07:19] #469 closed, assigned to noobanidus

[2019-02-11 07:49] #447 closed, assigned to noobanidus

[2019-02-11 08:16] noobanidus opened #470 "Endless quest books are given to you"
When the option is enabled, in creative mode, it gives you endless books when logging on, at least in the testing interface. It should probably check to make sure that you don't already have one in your bag.

[2019-02-11 08:21] #450 closed, assigned to nobody

[2019-02-11 08:21] #451 closed, assigned to noobanidus

[2019-02-11 08:21] #453 closed, assigned to noobanidus

[2019-02-11 08:22] #456 closed, assigned to noobanidus

[2019-02-11 08:29] noobanidus commented on #441
I think this was resolved.

[2019-02-11 08:29] #441 closed, assigned to noobanidus

[2019-02-11 08:29] noobanidus commented on #437
Haven't been able to replicate.

[2019-02-11 08:29] #437 closed, assigned to noobanidus

[2019-02-11 09:17] noobanidus commented on #442
This doesn't happen with vanilla TEs...

[2019-02-11 09:20] #442 closed, assigned to noobanidus

[2019-02-11 09:21] #470 closed, assigned to noobanidus

[2019-02-11 10:39] #455 closed, assigned to noobanidus

[2019-02-11 10:40] #454 closed, assigned to noobanidus

[2019-02-11 10:43] noobanidus commented on #414
I can't be bothered doing this before the rewrite. There are many ways to bypass it, using your inventory or a more precise search time. Sorry, folks!

[2019-02-11 10:43] #414 closed, assigned to noobanidus

[2019-02-11 11:15] noobanidus opened #471 "OreDictionary shit"

[2019-02-11 11:46] #430 closed, assigned to noobanidus

[2019-02-11 11:50] noobanidus commented on #443
Can't reproduce.

[2019-02-11 11:50] #443 closed, assigned to noobanidus

[2019-02-11 23:56] #458 closed, assigned to noobanidus

[2019-02-12 00:15] noobanidus commented on #445
`            player.getServer().getCommandManager().executeCommand(player.getServer(), commandString.replaceAll("@p", player.getDisplayNameString()));`

This is already the case.

[2019-02-12 00:15] #445 closed, assigned to noobanidus

[2019-02-12 03:36] noobanidus opened #472 "Adding a new task to a quest should re-evaluate completedness"
This is only relevant in testing though.

[2019-02-12 03:47] noobanidus opened #473 "Additional quality-of-life tweaks"
~~- The initial font color of a quest set that doesn't contain any quests should not be impossible to see on most monitors.~~
- When going into item select mode, by default (or by config) automatically set keyboard focus into the search window
~~- Quest item colours should be adjusted for inaccessible, incomplete, completed but unclaimed, and completed, as too many use an emphasis for a mode and t

[2019-02-12 03:49] noobanidus commented on #449
So I just rewrote the whole thing as I'm done. The only actual override I had to make was for the flower pot. This is a much more reliable implementation, I feel like, although there will certainly be other mods which require custom mappings/functions to work properly...

[2019-02-12 03:49] #449 closed, assigned to noobanidus

[2019-02-12 06:57] #472 closed, assigned to nobody

[2019-02-12 07:01] Funwayguy opened #474 "Using an existing quest set name soft locks the game [v5.4.0-8]"
If a user attempts to set a quest set name to the same as another quest set (regardless of casing or even if the conflicting set name is its own) the game soft locks.

![image](https://user-images.githubusercontent.com/6048596/52616995-21723780-2ee6-11e9-918e-400d86f222f4.png)

The reason appears to be a mistake in the while loop on this line:
https://github.com/lorddusk/HQM/blob/1.12/src/main/jav

[2019-02-12 07:45] Funwayguy opened #475 "Quest set names are always forced lowercase [5.4.0-8 (3)]"
Regardless of what casing you use when naming a quest set, the name is always forced down to lower case. This occurs even if there is no conflicting name.

[2019-02-12 08:17] Funwayguy opened #476 "Block Break task type doesn't use the detection type setting"
Despite allowing the user to set up the detection precision to Ore Dictionary or NBT, the Block Break task doesn't appear to make use of either of these.

At least make Ore Dictionary work so pack devs can, for example, direct the player to harvest wood logs regardless of tree type.

[2019-02-12 09:08] Funwayguy opened #477 "Double clicking air in the item selection screen crashes the game"
Crash report:

[crash-2019-02-12_19.07.33-client.txt](https://github.com/lorddusk/HQM/files/2854917/crash-2019-02-12_19.07.33-client.txt)

[2019-02-12 09:33] #474 closed, assigned to nobody

[2019-02-12 09:33] #475 closed, assigned to nobody

[2019-02-12 09:33] #477 closed, assigned to nobody

[2019-02-12 09:33] #476 closed, assigned to nobody

[2019-02-16 20:19] noobanidus opened #478 "Clear quest triggers list every time the player joins a new world"

[2019-02-19 06:27] noobanidus opened #479 "Quality-of-life: if old config exists, copy values over"

[2019-02-21 02:17] noobanidus opened #480 "End crystal kill task"

[2019-02-21 02:17] noobanidus opened #481 "Place block -> use item"

[2019-02-21 02:26] noobanidus opened #482 "Prevent tamed animals from giving credit to kill tasks"

[2019-02-21 03:20] noobanidus opened #483 "Force-completing death tasks removes required amount of deaths"

[2019-02-21 03:41] #482 closed, assigned to nobody

[2019-02-21 04:10] noobanidus opened #484 "Check individual task completion logic via OP book"

[2019-02-21 09:22] #480 closed, assigned to nobody

[2019-02-21 10:08] #473 closed, assigned to nobody

[2019-02-21 10:39] #478 closed, assigned to nobody

[2019-02-21 10:39] #484 closed, assigned to nobody

[2019-02-21 10:39] #483 closed, assigned to nobody

[2019-02-21 11:16] #481 closed, assigned to nobody

[2019-02-22 08:39] #479 closed, assigned to nobody

[2019-03-08 10:06] astetyn opened #485 "Failed to load remote questing state from description.txt"
Hello,

I have made some quests in single player mode. I copied these quest sets to the server side config/hqm/default. I wiped my client side config and enable only server sync. When I join server, no quests or description are shown. This **Failed to load remote questing state from description.txt** I found in client side log. Where could be a problem?

- server sync enabled on both sides
- edit

[2019-03-08 23:23] noobanidus commented on #485
First thing I would do would be to move the quests from `config/hqm/default` to `world/hqm`, as that's where the server is looking for them. The `default` and `remote` folders are purely client-side, IIRC. `default` is where quests are copied to when editing them, `remote` is where quests are synced to from the server.

The server itself **should** be looking in `world/hqm/` for the files *to* syn

[2019-03-09 12:04] astetyn commented on #485
Yes, the mod itself copied the the files from _default_ folder to the _world/hqm_. The quests are there now, but still not syncing with client side.

[2019-03-09 12:18] noobanidus commented on #485
Are files being copied into the `remote` folder on the client?

[2019-03-09 12:31] astetyn commented on #485
Only these. _Data, Deaths, State and Teams_ http://prntscr.com/mvgk8v

[2019-03-09 12:39] noobanidus commented on #485
That is extremely strange. Is there anything in the error log to indicate that server sync isn't working when enabled?

[2019-03-09 13:27] astetyn commented on #485
In client side log I found: `[13:01:14] [main/ERROR] [Hardcore Questing Mode]: Failed to load remote questing state from description.txt`
And in server log, everytime when someone joins, I found: `Hardcore Questing Mode: Requires version @VERSION@ but mod is not found on client.`
and on START server: `Hardcore Questing Mode]: Couldn't copy default files` (but there are already in worlds folder)

[2019-03-13 14:13] Heyo13579 opened #486 "Mod not reading config file after recent update"
after the most recent update, the worlds for my modpack are no longer starting in hardcore mode even though its setup in the config options you have to turn it on manually im also unable to turn on edit mode for quests either. the quests are still there but im not able top alter anything about the actual config file and have it be reflected in game

[2019-03-14 00:23] noobanidus commented on #486
It's possible I didn't make clear enough in CurseForge, but [there is a new config file now](https://old.reddit.com/r/feedthebeast/comments/atf7rd/new_release_hardcore_questing_mode_540/)  and you will have to copy over your old variables to that. Please check out the linked reddit post for more information.

[2019-03-14 00:23] #486 closed, assigned to nobody

[2019-03-14 22:24] astetyn commented on #485
I am an idiot. I didnt notice the config file in the config folder where I could set the server sync. Its working now.
Sorry, my bad. Thanks for your time.

[2019-03-14 22:24] #485 closed, assigned to nobody

[2019-03-15 03:47] noobanidus commented on #485
That's okay, that should've been made much clearer. Glad it was such a simple solution!

[2019-03-18 03:17] rockobonaparte opened #487 "Can't delete quest rewards"
I was surprised today to find I couldn't delete quest rewards. I found out from an older quest, but delete didn't work for newer ones either. Procedure:
1. Create quest
2. Select to change item
3. Select the first quest rewards slot
4. Assign some item (I had used 8 clay)
5. Select Delete
6. Click on the quest reward. Nothing happens.

I'm doing changes locally; this is not on a server.

This is t

[2019-03-28 02:00] Heyo13579 opened #488 "Question"
what size is the front image?

[2019-04-01 00:03] SupremeMarshal opened #489 "[Request] Drag and drop quest set"
Allow to drag and drop quest set to place them in the order we want.

[2019-04-01 00:11] SupremeMarshal opened #490 "[Request] Quest series"
Add a new type of quest set that can be called Quest series which can contain other quest series and quest sets inside it.

[2019-04-23 09:27] noamsm opened #491 "NullPointerExeption error while trying to break a specific block"
## Description:
I was trying to break an Ender IO conduit on my modded survival world. The conduit did not break and the game showed an error (See below).
I looked through the report and discovered that the NullPointerExeption was caused by HQM trying to trigger an OnBlockBreak event.

## Crash report:
https://paste.dimdev.org/tahogijede.mccrash

If you need more info please contact me!

[2019-04-24 09:34] noobanidus commented on #491
I'm pretty sure I know what this is, I'll try to resolve it and put out a hotfix build presently.

[2019-04-24 11:04] noobanidus commented on #491
Is there any chance you could try out this build for me? I don't have an environment set up with EnderIO in it to test it out myself, unfortunately: [HQM-1.12-5.4.0.jar.zip](https://github.com/lorddusk/HQM/files/3111939/HQM-1.12-5.4.0.jar.zip)

[2019-04-24 17:28] noamsm commented on #491
Yes, that fixed it! thx

[2019-05-08 15:02] KostyaKapitonov opened #492 "Like double click, when open set (v. 4.4.4 for minecraft 1.7.10)"
v. 4.4.4 for minecraft 1.7.10
When you select any Set, and then press open button in the right-bottom corner, sometimes it may happen the bug. The problem is when the quest icon is under the open button - in this case it not just open the  set, but also open the quest ander the button. But it shouldn't.
Example:
1) https://pp.userapi.com/c845122/v845122830/2008f0/3J_wxGa6lR8.jpg
2) https://pp.user

[2019-05-08 23:46] noobanidus commented on #492
Unfortunately, 1.7.10 is no longer supported. This is fixed in the most recent version for 1.12.2.

[2019-05-08 23:46] #492 closed, assigned to nobody

[2019-05-13 17:08] noamsm commented on #491
Hello, I just wanted to know when are you going to post a fix for this?

[2019-05-13 22:09] noobanidus commented on #491
It was at this moment I realised I had yet to upload the fix to CurseForge. My bad!

[2019-05-14 16:25] noamsm commented on #491
Okey thanks for your help!
btw, when you uploaded the mod you accidentally checked 1.11.2 instead of 1.12.2 in the supported versions area...

[2019-05-14 23:27] noobanidus commented on #491
Thanks for the heads up, I fixed the version!

[2019-05-14 23:27] #491 closed, assigned to nobody

[2019-06-02 21:47] Mindlessmrawesome opened #493 "Crash from opening reward bag"
[crash-2019-06-02_14.45.24-client.txt](https://github.com/lorddusk/HQM/files/3245275/crash-2019-06-02_14.45.24-client.txt)

I was just testing out my rewards to see how they were going and then BOOM crashed on like the 10th bag

[2019-06-03 00:33] noobanidus commented on #493
[HQM-1.12-5.4.0-hotfix2.jar.zip](https://github.com/lorddusk/HQM/files/3245425/HQM-1.12-5.4.0-hotfix2.jar.zip)

Can you try this build and see if you can get it to crash at all? It looks like the font renderer was null for whatever reason, but I'm not sure where in the code it gets set or where it could possibly have been unset...

This hotfix checks the font renderer, tries to reset it, and if it

[2019-06-03 06:45] Funwayguy commented on #493
Odd, that variable should never be NULL under normal circumstances. Minecraft is in charge of setting it, not HQM, so I'm wondering what may have tampered with it. May want to experiment with which mods modify GUIs to narrow down a possible cause. The hotfix might as well be a bandaid solution to what appears to be a bigger issue (again, not likely HQM's fault).

Note: The Blur mod might be a good

[2019-06-03 07:32] noobanidus commented on #493
I was in quite a daze when I woke up this morning and saw it, I'll admit. I couldn't possibly understand why the variable would be null... just that it was trying to draw something with a screen that wasn't properly set up as a screen?

Although I think I vaguely remember that fontRenderer as a member field is specific to HQM rather than to Minecraft.fontRenderer... unless I'm mistaken and I was a

[2019-06-03 08:11] Funwayguy commented on #493
The variable `fontRenderer` is specific to `GuiScreen.class` and set via `setWorldAndResolution()` when the GUI is opened via `Minecraft.displayGuiScreen()`. This is why I believe it's caused by another mod tampering with something it shouldn't (or at least in an unstable manner).

[2019-06-03 16:42] Mindlessmrawesome commented on #493
that hotfix seemed to work, I went through about 500 quests and didn't crash.

[2019-06-04 07:05] noobanidus commented on #493
Okay, based on Funway's information, I'm not going to release this hotfix as there's no reason why the fontRenderer should be null (I thought for some reason we were copying it at some point but obviously not). I would suggest removing the hotfix and removing a few of your UI mods and seeing if it still happens -- a sort of binary search but just with UI mods.

[2019-06-04 07:05] #493 closed, assigned to nobody

[2019-06-22 20:32] TerdyTheTerd opened #494 "Place task instantly completes after placing one block"
When creating a place task it will instantly complete as soon as you place a single block, regardless of how many blocks you specified for the task. Using version 5.4.0

[2019-06-22 23:27] noobanidus commented on #494
Hm, that is rather awkward and I was pretty sure it was something that had been.

I'll look int othis, but in the meantime can you clarify which block you are using for the place task?

[2019-06-23 00:06] noobanidus commented on #488
This is awfully delayed, I'm sorry! I've attached the template image which shows the size it should be.
![front](https://user-images.githubusercontent.com/8621206/59969982-980ef800-959e-11e9-9f25-e5a1dc70e75f.png)

[2019-06-23 00:09] #488 closed, assigned to nobody

[2019-07-28 13:09] NordicGamerFE opened #495 "Crashes after adding HQM to my modpack"
Modpack worked fine before only adding HQM any other information needed leave a comment

---- Minecraft Crash Report ----
// You should try our sister game, Minceraft!

Time: 2019-07-28 15:06:57 CEST
Description: Error executing task

java.util.concurrent.ExecutionException: java.lang.NullPointerException
    at java.util.concurrent.FutureTask.report(Unknown Source)
    at java.util.concurrent.Fut

[2019-07-28 13:10] NordicGamerFE commented on #495
[crash-2019-07-28_15.07.37-client.txt](https://github.com/lorddusk/HQM/files/3439193/crash-2019-07-28_15.07.37-client.txt)

[2019-07-28 15:30] NordicGamerFE commented on #495
seem i can play worlds generated before adding HQM but to generate them afterwards

[2019-07-29 13:13] noobanidus commented on #495
I have no idea how this has anything to do with HQM as we don't render entities and we certainly don't send entity look packets (at least as far as I'm aware). It's possibly a conflict with another mod.

[2019-07-29 13:19] NordicGamerFE commented on #495
it does not generate anything else then remote in the config folder

[2019-07-29 13:22] NordicGamerFE commented on #495
[01:43:43] [Client thread/WARN] [net.minecraft.client.resources.AbstractResourcePack]: ResourcePack: ignored non-lowercase namespace: META-INF in C:\Users\Kevin Andre Gaup\Twitch\Minecraft\Instances\Ocean Outlast\mods\HQM-1.12-5.4.0-hotfix1.jar

[2019-07-29 13:26] NordicGamerFE commented on #495
i will try to remove mods until HQM works and report back

[2019-07-29 13:27] NordicGamerFE commented on #495
if you want to recreate this the modpack is ocean outlast on twitch its without HQM

[2019-07-30 00:49] NordicGamerFE commented on #495
when using the alpha version of HQM everything seems to work

[2019-08-10 18:41] Twixxler opened #498 "Quest Book search function not working"
I am trying to make quests and instead of grabbing the items and then having the in my inventory i try to search for them only to find that that function is broken. I am running on minecraft version 1.12.2

![image](https://user-images.githubusercontent.com/4095905/62825619-9c09d000-bb74-11e9-8ab4-33dfa0ef4385.png)

I have also used the latest build and and previous builds for this version and sam

[2019-08-10 18:45] Twixxler commented on #498
I can not see any base content from vanilla minecraft only from select few mods not sure if that would be a conflict between my mods causing this issue or if there is an issue with HQM not being compatible or something

[2019-08-10 18:59] Twixxler commented on #498
So i figured out what the issue was. I removed 2 mods Roots & The Bewtweenlands, 1 of these 2 mods caused some type of issue that resulted in the above pictures/issues to occur.

[2019-08-10 18:59] #498 closed, assigned to nobody

[2019-08-10 23:44] noobanidus commented on #498
That is extremely strange! There must be an item in those that's causing an error. Are you able to upload the `latest.log` from when the search wasn't working?

[2019-10-26 13:59] noamsm opened #499 "Quests not showing up on server"
# Issue Description
I made a server pack for my modpack and I realized that the quest book is empty.
The HQM folder on the server contains all the folders the client has, and the config option "ServerSync" is set to true on both the server and the client.
I also found out that the server doesn't generate the config folder automatically.

I realize that this might look like a duplicate of #249 , bu

[2019-10-27 00:28] noobanidus commented on #499
Have you tried placing the HQM folder in the world folder as well? It's been a while since I worked on this and I don't quite remember how things go together, but it's possible the config isn't being copied out into the world folder.

[2019-10-27 15:46] noamsm commented on #499
The hqm folder is already in the world folder. I guess it copied them automaticly...

[2019-11-18 11:16] kamunimaximus opened #500 "[Request] Having quests default to detection task for one of the item selected as icon"
This would increase the speed in which you can make quests greatly, as most quests in general seem to be detection

[2019-12-04 21:00] xJon commented on #495
You should try without VanillaFix.

[2020-01-07 00:31] jakeS52 opened #501 "Invalid items?"
When I complete quests I believe I'm supposed to be getting reward bags but instead I'm just getting "Invalid Items" and i don't know how to fix this. Thanks

[2020-01-25 21:35] MasterMarkoJ opened #502 "Questbook not appearing in the inventory"
even when i toggle the comand to do so i doesent work

[2020-03-28 16:05] Flainity opened #503 "Errors appear when Mob Killing or Taming Quests are added"
We apparently faced this when we started to setup our quests. We don't know the exact reason for it, but for some reason, when mob quests are added and I try to fulfill them, the game throws an error + mobs don't drop anything besides exp.

https://paste.dimdev.org/lilefijube.mccrash
https://paste.dimdev.org/aqahozosuz.mccrash

Does anyone have an idea?

[2020-04-17 06:03] canitzp commented on #503
It is a bug on our side. THank you for reporting

[2020-04-17 06:04] canitzp commented on #501
You're getting invalid item when the item that you should get as reward (any item or block is possible) doesn't exist anymore. This happens through mod updates or removal of other mods

[2020-04-19 06:11] jessiee135 opened #504 "[Quest Creator] Needing Help"
Hi there.
After creating the whole quest book in game, when i am using this in a mod pack (questing mod pack)
how do i make the config files a default for when the mod pack is installed say through the curse/twitch launcher?

[2020-05-09 23:08] Yazzeh opened #505 "Whole stack of blocks in hand for place block quests vanish when trying to place in world."
I have isolated this issue to HQM as it doesn't occur when I remove the mod. I have a set of quests for placing blocks using ore dict. When attempting to place those blocks, the whole stack in hand will vanish and nothing will be placed in world.

[2020-05-21 02:50] PickleballKing commented on #499
I also had this problem but I have found a solution. If you go to the actual config file for HQM, not the folder, On line 58 there is an option to have the server sync with the client. This is false by default. Setting this to true should fix your problem.

[2020-06-03 03:14] LukaPix opened #506 "Crashing on Empty Quest Set"
I really don't know what is happening anymore..

I just added more empty sets to my questbook, named them and restartet my game,
after that the game crashes upon joining a world.
I had the character "&" in some of the quest titles but it let me save them from ingame without any warnings.
I tried changing them to "and" in every set i used them in by hand in the config files and also adjusted it in

[2020-06-03 03:17] LukaPix commented on #506
Upon opening it with another editor, it showed me this:

![image](https://user-images.githubusercontent.com/21264840/83591895-53832f00-a559-11ea-9355-50cdf0022246.png)

And i only used the ingame features to create these sets i never before touched them by myself.
All my emtpy quest sets have this now.

[2020-06-03 03:28] LukaPix commented on #506
I got everything to work again by manually removing the corrupted characters and replacing it with the right syntax {"name":"example","quests":[],"reputationBar":[]} by hand.
Since none of the not emtpy sets corrupted it's not a big deal, but i am scared of all my quests corrupting..

[2020-06-03 07:12] noobanidus commented on #506
Unfortunately the file format is not immune to corruption. Given the fact that nobody is working on the project at the minute (at least for 1.12.2), ***I would recommend making regular back-ups of your quest books.***

Alternately, you could try one of the other mods that are available.

[2020-06-05 13:38] LukaPix commented on #506
I now do make regular back ups, just wanted to leave this here in case someone else has the same problem or picks the project up again

[2020-06-27 03:26] leevanf opened #507 "Quest book rollbacking and getting stuck"
Hello everyone!

So, a couple days ago, me and my friend decided to get back to a pretty old modpack we never finished (Agrarian Skies 1), playing on Twitch Launcher.

I booted the server up, and everything seemed normal. But the quest book did a rollback, and almost half of the quests I already had done were incomplete. So, I used the /hqm edit to auto complete them... and it didn't work. What wa

[2020-08-14 08:50] CuteLittleSky opened #508 "Can I transfer this MOD to Chinese Website www.mcbbs.net ?"
Hi,Can I transfer this MOD to Chinese Website www.mcbbs.net ? I'll link here.
And this is Chinese Language(zh_cn.json):

[zh_cn.txt](https://github.com/lorddusk/HQM/files/5073518/zh_cn.txt)

[2020-08-15 04:16] canitzp commented on #508
Please don't.

[2020-08-15 04:17] #508 closed, assigned to nobody

[2020-08-26 07:27] canitzp commented on #507
Well the modpack is for Minecraft 1.6.4 and so we won't do any updates to fix things. In a newer version of hqm the complete saving system was rewritten and this would have probably fixed your issue as well, but the modpack is just to old for us to make a update

[2020-08-26 07:27] #507 closed, assigned to nobody

[2020-08-26 07:28] canitzp commented on #506
We're aware of the issues the json saving can have and we wanna fix everything we find. Currently this isn't very easy, but we have to add proper checks and actions when we find corruption

[2020-08-26 07:28] #506 closed, assigned to nobody

[2020-08-26 07:29] canitzp commented on #505
Can you provide more information, oike modpack, minecraft and forge version?

[2020-08-26 07:30] canitzp commented on #502
We're aware of some issues regarding the questbook spawning, but could fix them yet

[2020-08-26 07:31] #501 closed, assigned to nobody

[2020-08-26 07:33] canitzp commented on #495
This issue, even when it doesn't happen with hqm installed isn't related to hqm (as far as I can tell), since we aren't the caller of the functions mentioned in the crash-report

[2020-08-26 07:33] #495 closed, assigned to nobody

[2020-08-26 07:35] canitzp commented on #490
So this would allow you to better manage the quest sets? Actually this isn't possible with the system we currently use, which is very restricted, but we keep your request open

[2020-08-26 07:36] canitzp commented on #471
Can you clarify what you mean by this?

[2020-09-06 11:36] Atricos opened #510 "[1.12.2-5.4.0-hotfix1] Connecting a quest to the 2nd (or higher) parent freezes the game completely for 1-2 minutes"
Hi! I'm playing HQM version 1.12.2-5.4.0-hotfix1.

I've been creating quite a large Quest Book (currently about 700 quests through 14 Chapters), and only recently (after about 650 quests added) have I started noticing this issue: When selecting a quest to connect to a single parent, the game works fine, but when trying to connect the same quest a different parent as well, the game lags out horribl

[2020-09-06 18:12] Atricos commented on #510
I found an okay-ish workaround for this. Find a quest that's an ancestor of all later quests and is only connected to 1 parent. Disconnect it to make the later portion of the quest chain much smaller.  (And later, when the quests are done, add back the missing connection.) Then the described lag only lasts for 2-3 seconds, which is bearable.

Nonetheless, this is still a bug that needs to be fixed

[2020-10-09 20:09] BedrockLegends opened #512 "1.16.3 server crash"
Not sure if the mod is client side or server as there is no where to find out, but heres a server crash
[crash-2020-10-09_15.08.19-fml.txt](https://github.com/lorddusk/HQM/files/5357284/crash-2020-10-09_15.08.19-fml.txt)

[2020-10-09 20:40] canitzp commented on #512
Thie is indeed a server side crash related to HQM

[2020-10-10 16:38] benbenlaw opened #514 "wont start"
[crash-2020-10-10_17.37.32-fml.txt](https://github.com/lorddusk/HQM/files/5359431/crash-2020-10-10_17.37.32-fml.txt)

[2020-10-10 16:40] lorddusk commented on #514
This... Is not a bug report.
Please give more information.

[2020-10-10 16:42] benbenlaw commented on #514
game will not start says there a problem with hqm

[2020-10-10 16:53] benbenlaw commented on #514
turn out after quests saved the game doesnt load?

[2020-10-10 16:54] benbenlaw commented on #514
in config/hqm/default/set removeing quest line from there makes the game load again

[2020-10-10 17:24] shedaniel commented on #514
Can you send the json of the quest line?

[2020-10-10 17:34] #512 closed, assigned to shedaniel

[2020-10-10 17:34] shedaniel commented on #512
Should be fixed in 5.5.1, please reopen the issue if it remains unfixed.

[2020-10-10 17:34] shedaniel commented on #514
Should be fixed in 5.5.1, please reopen the issue if it remains unfixed.

[2020-10-10 17:34] #514 closed, assigned to nobody

[2020-10-11 14:41] benbenlaw commented on #514
can confirm is now working thanks for the update

[2020-10-11 17:11] benbenlaw opened #515 "quests keep changing"
when closing and reopening the game quest settings change settings from "requires all" to "requires specific amout"

[2020-10-11 17:13] benbenlaw commented on #515
its not me then haha

[2020-10-11 19:56] #505 closed, assigned to nobody

[2020-10-11 19:56] #494 closed, assigned to nobody

[2020-10-11 20:05] #471 closed, assigned to noobanidus

[2020-10-12 18:06] shedaniel commented on #515
Can you provide more information on where the settings is?

[2020-10-13 07:08] benbenlaw commented on #515
yeah so if im on edit mode, the menu on the left click on required parents and all quests show as "requires specified amount" after a restart of the client. instead of "requires all"

[2020-10-13 07:09] benbenlaw commented on #515
basically mean all quests are visable and can be done in any order which is not the intention i want. as i say it works fine unitl a restart to the client

[2020-10-13 07:22] benbenlaw commented on #515
when set to requires all it works as intended but as i said after a client restart all quests go back to requiores specified amount

[2020-10-13 11:55] shedaniel commented on #515
Thanks for reporting, I have tracked down the issue.

[2020-10-13 12:04] #515 closed, assigned to shedaniel

[2020-10-13 13:36] benbenlaw commented on #515
thanks for fixing the bug means i can publish my quest pack now thanks

[2020-10-14 16:14] mahjerion opened #516 "Number of Items from Reward Not Appearing [1.16.2/3 Fabric]"
Just a small thing - the number of items isn't showing up in quest rewards. Seems to be a visual bug though as upon completion you still get the correct amount.

[2020-10-17 19:20] DenisMasterHerobrine opened #517 "[Question] Backport to 1.15.2?"
Hello. This is more a question than an issue. Since this mod is reviving for 1.16.2/.3 (5.5.x): is there any chance for HQM 5.5.x being backported to 1.15.2? (at least Forge version since Fabric one was released in HQM: Fabric CurseForge page?)
I understand if you will not port it to 1.15.2 and close this issue, but it would be great to see this port, because there is no good questing solutions fo

[2020-10-23 00:22] hoklai1997 commented on #499
I'm also experiencing this issue
HQM 5.4.0
Forge 14.23.5.2847
Minecraft 1.12.2
I have the modpack on curseforge, although I was not able to upload the server file I created to use
https://www.curseforge.com/minecraft/modpacks/coven-undone

I've tried loading the server with the same HQM config that I use on the client side and nothing appeared (I did not check if the world file's HQM file was gene

[2020-10-23 12:53] hoklai1997 commented on #499
Update, the quest complete sound is still playing (at correct points, namely when I've done something that would've completed a quest) despite the quest book being empty, so it seems like it is keeping track of the right things, just the book is empty for whatever reason.

[2020-10-23 13:37] MarinaMarissa opened #518 "[crash]Game crashes with the latest fabric api"
[crash-2020-10-23_21.32.30-client.zip](https://github.com/lorddusk/HQM/files/5429765/crash-2020-10-23_21.32.30-client.zip)

[2020-10-24 10:09] canitzp commented on #518
You are missing the cloth api mod. This is a mandatory dependency for the Fabric version of HQM

[2020-10-24 10:39] MarinaMarissa commented on #518
It works nice now. Thanks a lot.

[2020-10-24 10:39] #518 closed, assigned to nobody

[2020-10-24 19:03] mounderfod opened #519 "Checkbox tasks"
It would be nice if the mod had checkbox tasks, in essence they allow the user to tick a checkbox and then that completes the quest. This is a good way to convey information to the user. Here is an example from Forge's Better Questing:

![image](https://user-images.githubusercontent.com/24373708/97091447-d2c1ee00-1633-11eb-803a-e1f05271e9fd.png)

[2020-10-27 00:38] mahjerion opened #520 "[Fabric] Crash due to death string or something"
hey there, something that cropped up recently:
https://pastebin.com/1Yyx4Pee

don't really have additional details as its from my players on the server

[2020-10-28 16:11] #516 closed, assigned to shedaniel

[2020-10-28 16:11] #520 closed, assigned to shedaniel

[2020-10-29 23:06] bblewitt opened #521 "HQM loading mods error."
**Minecraft version:** 1.16.3
**HQM version:** 5.5.3 - Forge

**Issue:**
Updated forge to the latest (1.16.3 - 34.1.35) and get a screen that shows

Error loading mods 1 error has occurred during loading
Hardcore Questing Mode (hardcorequesting) has failed to load correctly
java.lang.IllegalStateException: Can not register to a locked registry. Modder should use Forge

**Forge versions that testin

[2020-10-31 23:11] Unhook opened #522 "[1.16.3] 'Save all' menu doesn't fit on screen"
Part of the 'save all' menu isn't visible. See the screenshot below
![image](https://user-images.githubusercontent.com/58952619/97791820-c7903480-1bd6-11eb-97bc-5e0023174acf.png)

[2020-11-01 09:12] canitzp commented on #522
Which HQM vereion and screen size do you use?

[2020-11-01 09:49] Unhook commented on #522
Version 5.5.3 (latest)
24 inch monitor, aspect ratio is 16:9

[2020-11-01 13:09] canitzp commented on #522
Please tell us the exaxt resolution minecraft uses. You can dind this when opening the f3 menu.
Also which gui scale setting are you using

[2020-11-01 15:31] Unhook commented on #522
![image](https://user-images.githubusercontent.com/58952619/97807182-a45d9780-1c5f-11eb-88a1-9503cd0302c3.png)

My GUI scale is set to auto/4. I've tested and it only seems to be an issue when you have GUI scale set to auto/4.

[2020-11-02 23:45] shedaniel commented on #522
We could shift the screen to the left a bit, but Minecraft guis lack horizontal space so that's a bit annoying

[2020-11-05 13:48] Unhook commented on #521
Any idea on when you'll be able to look into this? It's what's preventing me from moving to newer forge versions.

[2020-11-08 11:09] shedaniel commented on #521
Sorry for the delay, I have fixed this issue in 5.5.4

[2020-11-08 11:09] #521 closed, assigned to shedaniel

[2020-11-19 14:42] Dacarian opened #523 "Can not register to a locked registry using [HQM-1.16.2+5.5.3-forge]"
Wanted to install HQM to add some custom quest lines to my 1.16.3 sever, but since adding it I'm not even able to launch the game? :s Anyone know how to fix this issue? I tried using all the 1.16.3 version on curseforge and received the same error - I can't update to 1.16.4 as 80% of the mods on my sever don't work with that version

[crash-2020-11-19_14.39.18-fml.txt](https://github.com/lorddusk/

[2020-11-20 09:18] shedaniel commented on #523
Update to the latest version of HQM on CurseForge, it is going to work from 1.16.2 and above

[2020-11-20 09:18] #523 closed, assigned to nobody

[2020-11-22 16:15] Unhook opened #524 "[Enhancement] Add ability to easily move questlines"
It would be nice to easily be able to move questlines (e.g. by clicking on an arrow like in Better Questing). With moving questlines I mean e.g. switching out questline 1 with questline 3 in the image below.

![image](https://user-images.githubusercontent.com/58952619/99909006-2c2a4500-2ce6-11eb-8f67-3969ff97b6d8.png)

[2020-11-25 20:34] Desynq opened #525 "HQM [1.12.2] disconnecting clients on server after a while"
After playing on the server for a while, some players would get disconnected after interacting with the quest book whatsoever.

teams.json appears to cause the crash after a while; wiping its data fixes it
[teams.txt](https://github.com/lorddusk/HQM/files/5599138/teams.txt)
Disconnect message in server console
[message.txt](https://github.com/lorddusk/HQM/files/5599139/message.txt)

[2020-11-27 22:14] cyberpunkbln opened #526 "Error when save a fresh quest and then reload Minecraft"
Hello,

when i start with an empty config/hqm directory all is fine, but when i make an Quest and make reputations, and save and reload Minecraft then this error appears:

Minecraft: 1.16.4
Forge: 35.2.0
HQM: HQM-1.16.2+5.5.4-forge.jar

[code]

When i only make quests without using the reputation system, all is fine? bzw whein i delete the reputation.json then all is fine.

thx

Edit: After a few

[2020-12-22 01:02] SlimJefe opened #528 "[1.16.4 Forge] Infinate Reward Bags on Server"
Forge Version: 35.1.9
HQM Version: 1.16.2+5.5.4-forge

Any player connected to the server that tries to open a reward bag will be able to do so infinitely. After right clicking, the bag does not disappear. The bags work correctly in single player.

[2020-12-23 14:40] Jenderlion opened #529 "No button to get reward"
Initially, there were some sets of quests, after which I deleted them and added others, but containing the first. The data file has been deleted. However, now players cannot receive a reward for completed quests, even though the quest is marked as completed. Of course, the next quest will not open. What could be the problem? What files do I need to send to find the cause of the failure?

[2020-12-28 22:33] yelldow opened #530 "Creating reputation causes crash on world loading and startup"
Replication:
Works on empty Fabric install (MC 1.16.4, Fabric 0.10.8, Cloth API 1.4.9, Fabric API 0.28.4, HQM 5.5.4)
Create a new world, then go into creative and give yourself a questbook. Type /hqm edit, then proceed to create a reputation. For my crash, I created 6 tiers, but I'm unsure how that affects the crash.
Save all, close the world, then try to create a new one - you should crash. Any s

[2021-01-15 08:46] ghost opened #531 "Feature Request: Allow Commands to be Run as Quest Rewards"
Pretty self explanatory, but to clarify what I'd like to be able to do,

Use GameStages + RecipeStages, and unlock stages based on specific quest completion.

[2021-01-17 01:17] ghost commented on #530
I have a similar issue, except it crashes when the game loads rather than the world, :(
and I'm on forge
https://pastebin.com/2Fe9NuR7

[2021-01-17 01:30] ghost commented on #530
It seems to have something to do with Reward Bags or Groupings of Reward bags - of which I have 0 reward bags/tiers - @yelldow , did your questing setup have any reward bags or tiers of them?

[2021-01-17 03:21] ghost opened #532 "Crash when reputations are saved in configs"
This code is attempting to cast a bag.GroupTier to a reputation.Reputation object, and it causes a crash on world load when a reputation is stored in the reputations.json file in the config directory. I dont know how to fix it but that is my determination, and here is my crash log: https://pastebin.com/hxWfw0R7

May or may not be a duplicate of the error described in #530

The code referenced is i

[2021-01-19 07:16] ghost commented on #532
PR #527 Fixes This Issue.

[2021-01-19 07:16] #532 closed, assigned to nobody

[2021-01-19 09:33] ghost commented on #531
Already is implemented

[2021-01-19 09:33] #531 closed, assigned to nobody

[2021-01-19 09:36] ghost opened #533 "Doesn't seem like server sync works"
When connected to a server, it doesn't seem like server sync works.

[2021-01-19 09:48] ghost commented on #533
I did the configs wrong, didn't realize both sides needed setting to be true.

[2021-01-19 09:48] #533 closed, assigned to nobody

[2021-01-22 17:22] SlimJefe commented on #528
Update to this problem, here is what the server log says when I open a reward bag:

https://pastebin.com/DH1NWn6v

Hope it helps!

[2021-02-01 06:52] KantilDoombringer opened #534 "Cannot move quest from Singleplayer to Server"
I have tried every solution listed that I could find and none of it works. The server loads fine, but the client side game crashes upon opening the quest book.

May I please ask for detailed instructions on how to move the quests from singleplayer to a server in 1.16.4?

[2021-02-01 07:14] shedaniel commented on #534
You will want to share the crash log

[2021-02-01 07:44] KantilDoombringer commented on #534
[crash-2021-02-01_01.54.46-client.txt](https://github.com/lorddusk/HQM/files/5902527/crash-2021-02-01_01.54.46-client.txt)

[2021-02-09 05:55] vizthex123 opened #535 "Can't reset progress in singleplayer."
I'm trying to make the quest, and a few involve commands.

So to be sure they work properly, I completed them; but can't force a reset like I can with FTB Quests.

Could you add a "reset" button on the main page when editing mode is active?

Is it not implemented yet or am I overlooking it?

[2021-02-09 06:55] vizthex123 opened #536 ""Choose a reward" reward bags don't hide their tier like in older versions"
Title. It was nice to be able to surprise someone with the rewards being different tiers, but now it's not possible since the entire tooltip is displayed.

Could this be fixed, or added as a config option?

[2021-02-10 10:46] Diversion98 opened #537 "can this issue be deleted? wrong github"

[2021-02-10 10:51] #537 closed, assigned to nobody

[2021-02-10 18:04] CCCClear opened #538 "[1.16.5 fabric] BUG: tame task can‘t be finished"
I tested in the game only with the hqm mod. Its 1.16.5 fabric. And its the latest mod.

[2021-02-12 01:07] vizthex123 opened #539 "[1.16.5] A small issue I noticed with some text boxes."
I noticed that text written on the right side of a quest doesn't render apostrophes properly, whereas on the left side it works fine.

Pics attached.
Left side:
![image](https://user-images.githubusercontent.com/31721920/107718782-4c8dee00-6c9c-11eb-9486-bacd3ec25585.png)

Right side:
![image](https://user-images.githubusercontent.com/31721920/107718813-5e6f9100-6c9c-11eb-9c55-08c6251a77f9.png)

T

[2021-02-12 02:24] vizthex123 opened #540 "[1.16.5] Can't enter custom "Maximum Retrieval Amount" without it going to the previous page"
Whenever you select the box and click backspace, it goes to the previous page instead of erasing the number in the box.

[2021-02-13 01:33] Malephus opened #541 "Blank Quest Book"
I am hosting a 1.16.5 mod pack utilizing HQM on my desktop and opening the game to my husband via LAN. His quest book is currently showing as the attached image. We've destroyed the book, spawned one creatively, recreated it with the recipe and made sure the server_sync on both our instances showed as true. Is there anything else I may be missing?
![blank quest book_1 1 1](https://user-images.gith